@import 'src/components/_primitives.scss';

.container {
  display: flex;
  flex-direction: column;
}

.chip {
  width: fit-content;
  height: 28px;
  border: solid 1px $color-primary-200;
  border-radius: 16px;
  background-color: $color-primary-50;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
}

.chip:focus {
  box-shadow: $Focus-rings-gray;
}

.chipLabel {
  color: $color-primary-700;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
}
.chipContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}
.captionDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-top: 6px;
}
.popularDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.popularLabel {
  color: $color-grey-600;
}
.searchTitle {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: $color-grey-700;
}
.inputContainer {
  border: 1px solid $color-grey-300;
  border-radius: 8px;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0px 1px 2px 0px #1018280d;
}
.inputContainer {
  input {
    &::placeholder {
      color: $color-grey-500;
      opacity: 1;
    }
  }
}

.inputContainer fieldset {
  border: none;
}

.inputContainer:focus-within {
  box-shadow: 0px 0px 0px 4px $color-primary-100;
}

.errorMsg {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  margin-left: 0;
  margin-right: auto;
  margin-top: 6px;
  color: $color-error-500;
}
