.applicantContainer {
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid var(--border-gray-01);

  .hireDate {
    color: var(--color-gray-01);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  .applicantFooter {
    display: flex;
    justify-content: space-around;
  }

  .footerItem {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    border-right: 1px solid var(--border-gray-01);
    cursor: pointer;
  }

  .footerItem:last-child {
    border-right: 0;
  }

  .footerLabel {
    color: var(--color-gray-01);
    font-size: var(--font-size-s);
  }
}

.statusContainer {
  display: flex;
  justify-content: space-between;
}

.box {
  height: 5.5rem;
  padding: 0 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  border-radius: 10px;
  background: var(--color-off-white-01);
  font-size: var(--font-size-s2);

  .header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-gray-04);
    height: 100%;
  }

  .typeItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-gray-01);

    &:first-child {
      border-right: 1px solid var(--color-gray-04);
      padding-right: 0.5rem;
    }

    &:last-child {
      padding-left: 0.5rem;
    }
  }

  .totalMission {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}
