@import 'src/components/_primitives.scss';

.menuList {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 0;
    border-radius: 8px;
    position: absolute;
    top: 28px;
    right: 0;
    border: 1px solid $color-grey-200;
    box-shadow: $shadow-lg;
    background-color: $color-white;
    z-index: 10;
}

.menuItem {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    span {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: $color-grey-700;
    }
}
