@import 'src/components/_primitives.scss';

.header {
  height: 60px;
  border-bottom: solid 1px $color-grey-200;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  color: $color-grey-900;
}

.bordered {
  border-bottom: 1px solid $color-grey-200;
  height: 72px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
