@import 'src/components/_primitives.scss';

.tabContainer {
  display: flex;

  .tab {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 6px;
    &:hover {
      background-color: $color-grey-50;
    }
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: $color-grey-500;
  }

  .selectedTab {
    font-weight: bold;
    background-color: $color-grey-50;
    color: $color-grey-900;
  }
}
