.main {
  max-height: 650px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-03);
    border-radius: 12px;
  }

  .social {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 16px;

    .avatar {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .text,
  .image {
    word-break: break-word;
    padding: 16px;
    &__border {
      border-bottom: 1px solid var(--color-gray-04);
    }
  }
}

.footer {
  justify-content: flex-end;
}

.btn {
  max-width: 10.18rem;
}
