@import 'src/components/_primitives.scss';

.label {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: $color-grey-700;
}

.optionsText {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: $color-grey-700;
}

.msg {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 6px;
}

.errorMsg {
  color: $color-error-500;
}
