@import 'src/components/_primitives.scss';

.link {
  color: $color-primary-700;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  margin-right: 4px;
  margin-left: 4px;
}
.privacy {
  text-align: center;
}
.signupTitle {
  text-align: center;
  color: $color-grey-600;
}

.copy {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
