@import 'src/components/_primitives.scss';
.container {
  max-width: 1440px;
}

.privacy {
  text-align: center;
}
.signupTitle {
  text-align: center;
  color: $color-grey-600;
  margin-right: 4px;
}

.copy {
  position: fixed;
  left: 32px;
  bottom: 32px;
  @media screen and (max-width: 600px) {
    display: none;
  }
}
.copyText {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $color-grey-600;
}
.review {
  background-color: $color-primary-50;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.referrerContainer {
  display: flex;
  justify-content: center;
}

.referrerText {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: $color-grey-700;
}
