$color-gray-light-0: #e4e6ed;

.container {
  padding: 24px 16px;
  min-height: calc(100% - 130px);
}

.card {
  padding: 16px 24px;
}

.divider__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card__details {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  .detail {
    flex: 1;

    &__label {
      font-weight: 600;
      margin-bottom: 8px;
    }
  }

  .date {
    flex: 1;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-gray-04);
    border-radius: 8px;
    height: 44px;

    &__input {
      flex: 1;
      border: none;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-top: 1px solid $color-gray-light-0;

  &__btn {
    max-width: unset;
    width: 100%;

    &--cancel {
      border: none;
      margin-top: 8px;
    }
  }
}

.errorsContainer {
  margin-top: 4px;
  transition: height 300ms 0s;
}

.errorItem {
  display: flex;
  align-items: center;
  font-size: var(--font-size-s);
  color: var(--color-error-01);
}
