.title {
  //@todo: use variable for font
  font-family: 'Inter';
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.sub-title {
  //@todo: use variable for color
  color: #808289;
  font-size: 1rem;
}
