$color-blue-dark: #2f4786;

.select-card {
  .label {
    width: 100%;
    margin-bottom: 0;
  }

  .input {
    display: none;

    &:checked + .content {
      border: 1px solid $color-blue-dark;
    }
  }

  .content {
    height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border: 1px solid var(--color-gray-04);
    border-radius: 50px;
    cursor: pointer;
    padding: 1rem;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
  }

  .text {
    color: $color-blue-dark;
  }
}
