@import 'src/components/_primitives.scss';

.container {
    .header {
        margin-bottom: 24px;

        .title {
            font-size: 18px;
            font-weight: 600;
            line-height: 28px;
            margin-bottom: 4px;
            color: $color-grey-900;
        }

        .subTitle {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: $color-grey-600;
        }
    }
}
