.modalContainer {
  background-color: var(--color-off-white-01);
  border-radius: 0;
  margin: 0;
  padding-bottom: 1rem;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
