.cancelBtn {
    width: auto;
    gap: 8;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid var(--Color-Gray-300, #CCD5DF);
    border: 1px solid var(--Color-Gray-300, color(display-p3 0.8144 0.8349 0.8656));
    background: var(--Color-Base-White, #FFF);
    background: var(--Color-Base-White, color(display-p3 1 1 1));
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
    box-shadow: 0px 1px 2px 0px color(display-p3 0.0627 0.0941 0.1569 / 0.05);
}
.saveBtn {
    gap: 8;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid var(--Color-Primary-600, #004E46);
    border: 1px solid var(--Color-Primary-600, color(display-p3 0 0.2902 0.2745));
    background: var(--Color-Primary-600, #004E46);
    background: var(--Color-Primary-600, color(display-p3 0 0.2902 0.2745));
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
    box-shadow: 0px 1px 2px 0px color(display-p3 0.0627 0.0941 0.1569 / 0.05);
}
.borderSection {
    border-bottom: 1px solid #EAECF0;
    @apply py-5
}