.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 4.5rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-gray-01);
  padding: 1.25rem;
  padding-top: var(--safe-area);
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  border-bottom: 1px solid var(--border-gray-01);
}

.text {
  padding: 1rem;
  min-height: 200px;
  word-break: break-word;
  overflow-y: auto;
}

.image {
  display: flex;
  justify-content: flex-end;
  height: 3rem;
  align-items: center;
  padding: 1.25rem;
  background-color: var(--color-off-white-01);
  position: relative;
}

.image input {
  position: absolute;
  top: 9px;
  right: 20px;
  width: 24px;
  height: 24px;
  opacity: 0;
}

.footer {
  background-color: white;
  margin-top: auto;
}

.button {
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
  padding: 2.5rem 1rem;
}

.button Button {
  width: 10.18rem;
}
