@import 'src/components/_primitives.scss';
.accordion {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;

  .content {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;

    .icon_wrap {
      align-items: flex-start;
      display: inline-flex;
      flex: 0 0 auto;
      flex-direction: column;
      padding: var(--3-spacing-spacing-xxs) 0px 0px 0px;
      position: relative;

      .instance_node {
        height: 24px !important;
        position: relative !important;
        width: 24px !important;
      }
    }

    .text_and_supporting {
      align-items: flex-start;
      display: flex;
      flex: 1;
      flex-direction: column;
      flex-grow: 1;
      gap: 8px;
      position: relative;

      .text {
        align-self: stretch;
        color: $color-grey-900;
        position: relative;
        font-weight: 500;
        font-size: 18px;
      }

      .supporting_text {
        align-self: stretch;
        color: $color-grey-500;
        position: relative;
      }
    }
  }

  &.mobile {
    width: 343px;
  }

  &.desktop {
    width: 768px;
  }

  &.divider_true {
    border-color: $color-grey-200;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 24px;
  }

  .breakpoint_desktop {
    gap: 24px;
  }

  .breakpoint_mobile.right {
    gap: 24px;
  }

  .breakpoint_mobile.left {
    gap: 24px;
  }
}
