.wrapper {
    background-color: #ffffff;
    width: 100%;
    height: 2.75rem;
    border: 1px solid #E4E6ED;
    border-radius: 0.5rem;
}

.label {
    color: var(--color-black-01);
    font-size: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 700;
}

.header {
    padding: 0 18px;
    display: flex;
    align-items: center;
    height: 2.75rem;
}

.title {
    display: flex;
    flex-grow: 1;
}

.title input[type=text] {
    width: 100%;
}

.title input::placeholder {
    color: var(--color-gray-03);
    font-size: 1rem;
    font-weight: 400;
}

.icon {
    display: flex;
    margin-left: auto;
}

.list {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border: 1px solid #BEC0C7;
    border-radius: 16px;
    margin-top: 5px;
    padding: 0.62rem 0;
    max-height: 17rem;
    overflow-y: auto;
}