.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-off-white-01);
}

.box {
  padding: 2rem 2.5rem;
  width: 33.75rem;
  display: grid;
  grid-template-rows: 1fr 100px;
  border: 1px solid var(--color-gray-04);
  border-radius: 24px;
  gap: 2rem;
  background-color: rgb(255, 255, 255);
}

.bottom {
  border-bottom: 0;
}
