@import 'src/components/_primitives.scss';

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tab {
  padding: 0.625rem 1rem;
  border: 1px solid $color-grey-300;
  background-color: $color-white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
    border-right: 0;
  }
  &:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: 0;
  }
}

.active {
  background-color: $color-grey-50;
  font-weight: bold;
}

.content {
  margin-top: 2rem;
}
