@import 'src/components/_primitives.scss';

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tab {
  border: 1px solid $color-grey-300;
  background-color: $color-white;
  color: $color-grey-700;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.625rem 1rem;
  transition: background-color 0.2s ease-in-out;
  &:first-child {
    border-radius: 8px 0 0 8px;
    border-right: 0;
  }
  &:last-child {
    border-radius: 0 8px 8px 0;
    border-left: 0;
  }
}

.active {
  background-color: $color-grey-50;
  color: $color-grey-800;
  
}

.content {
  margin-top: 2rem;
}
