.container {
  height: calc(100vh - var(--desktop-nav-height));
  overflow-y: scroll;
  background-color: #f3f3f3;
}

.filterBar {
  height: 3.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-gray-01);
  position: sticky;
  top: 0;
  background-color: var(--color-off-white-01);
}

.filterBarContent {
  display: flex;
  gap: 1rem;
  max-width: 800px;
  width: 100%;
}

.results {
  color: var(--color-gray-02);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listContainer {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  min-width: 60rem;
  height: calc(100vh - var(--desktop-nav-height) - 3.5rem);
}

.listContainerContent {
  width: 100%;
  max-width: 800px;
  overflow-y: scroll;
}

.item {
  height: 100%;
  min-width: max-content;
  overflow-y: scroll;
}
