.filterBar {
  height: 3.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-gray-01);
  position: sticky;
  top: 0;
  background-color: var(--color-off-white-01);
}

.filterBarContent {
  display: flex;
  gap: 1rem;
  max-width: 800px;
  width: 100%;
}

.results {
  //   padding-bottom: 1rem;
  height: 4rem;
  color: var(--color-gray-02);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d8d8d8;
}

.listContainer {
  padding: 1rem;
  background: #f3f3f3;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

.listContainerContent {
  width: 100%;
  max-width: 800px;
}

.item {
  border: 1px solid #000;
}
