.title {
  padding: 16px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}
.cards {
  margin-bottom: 8px;
}
.seeMore {
  text-align: center;
  font-weight: 600;
  font-size: var(--font-size-s2);
  color: var(--color-primary-01);
  cursor: pointer;
  padding-bottom: 2rem;
}
