.sidebar {
  display: grid;
  gap: 1rem;
}

.banner {
  height: 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.5rem;
  border-radius: 30px;
  background-image: url('/images/feed-page-header.png');
  background-size: cover;
  background-position: 30%;
  background-color: var(--color-gray-04);
}

.title {
  font-size: var(--font-size-xl);
  color: #ffffff;
  font-weight: 600;
  font-family: 'Hahmlet';
}

.tagline {
  color: #d4d2d0;
  font-size: var(--font-size-m);
}

.list {
  padding: 1rem 0;
}

.moreBox {
  width: 288px;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .moreHeader {
    padding-bottom: 0.5rem;
    color: var(--color-gray-02);
  }

  .moreOption {
    cursor: pointer;
  }
}

.profileHeader {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.username {
  font-weight: 600;
  padding-bottom: 0.2rem;
}

.profileLink {
  cursor: pointer;
  color: var(--color-primary-01);
}

.profileFooter {
  height: 2rem;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.followers,
.connections {
  color: var(--color-gray-02);
}

.create {
  margin: 1.5rem 1rem 0.5rem 1rem;
}

.createWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.createButton {
  background-color: var(--color-off-white-01);
  height: 3rem;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  color: var(--color-primary-01);
  font-size: 1rem;
  cursor: pointer;
}
