.container {
  height: var(--window-height);
  margin-top: var(--safe-area);
  display: grid;
  grid-template-rows: auto 1fr 5.75rem;
}

.main {
  padding: 1rem;
  overflow-y: scroll;
  border-bottom: 1px solid var(--border-gray-01);
}

.header {
  border-bottom: 1px solid var(--border-gray-01);
}

.sendBoxContainer {
  padding: 0.5rem 1rem 0 1rem;
}

.emptyBoxContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary-01);
  }
}
