.leftContainer {
  position: sticky;
  top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .accounts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .noCard {
    border: none;
    padding: 0;
  }
}

.rightContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
  gap: 1rem;

  .load {
    display: flex;
    justify-content: center;
    color: var(--color-primary-01);
    font-weight: 600;
    cursor: pointer;
  }
}
