@import 'src/styles/constants/_primitives.scss';

.container {
    width: 100%;
    border: 1px solid $color-grey-200;
    background-color: $color-white;
    padding: 2rem;
    border-radius: $radius-xl;
    box-shadow: $shadow-sm;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    .content {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: $color-grey-900;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.25rem;

        &__subtitle {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: $color-grey-600;
            margin-bottom: 0.5rem;
            text-align: center;
        }
    }
}
