.container {
  height: 100vh;
  display: grid;
  grid-template-rows: var(--safe-area) 1fr;
}

.main {
  overflow-y: scroll;
}

.jobTitle {
  font-weight: 600;
  padding: 1rem 0;
}

.questions {
  margin-bottom: 1rem;
}

.contactContainer {
  display: grid;
  grid-template-columns: 1fr 50px;
}

.btnContainer {
  display: flex;
  height: 8rem;
  padding: 1rem 1rem 0 1rem;
}

.linkContainer {
  display: grid;
  gap: 1rem;
}

.uploadYourResume {
  margin-bottom: 0.25rem;
}

.acceptedType {
  margin-bottom: 1rem;
  color: var(--color-gray-01);
}

.fileInput {
  position: absolute;
  left: 0;
  width: 9.75rem;
  opacity: 0;
}

.uploadedResume {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  .trashIcon {
    background-color: white;
    border: 1px solid var(--color-gray-03);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
  }
}
.title {
  color: var(--color-primary-01);
  font-family: 'Hahmlet';
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-l);
}

.message {
  line-height: 150%;
}
.confirmMain{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 0.5rem;
}
.confirmContainer{
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8rem;
}
.companyName{
  font-weight: bolder;
}
