.container {
  width: 4rem;
  height: 4rem;
  position: fixed;
  right: 1rem;
  bottom: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-01);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
