.sidebar {
  display: grid;
  gap: 1rem;
  position: sticky;
  top: 2.5rem;
}

.profileHeader {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.username {
  font-weight: 600;
  padding-bottom: 0.2rem;
}

.profileFooter {
  height: 2rem;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.firstRow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  *:last-child {
    border-bottom: 0px;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.back {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.jobTitle {
  margin: 1rem 0;
  font-weight: 600;
  font-size: var(--font-size-m);
  color: var(--color-black-01);
}

.appSubmitted {
  height: 2.8rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: 1rem;
  font-weight: 700;
}
