.container {
  .header {
    font-size: 18px;
    font-weight: 600;
  }

  .balance {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;

    &__img {
      border-radius: 50%;
    }
  }

  .rowItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0;
    align-self: flex-start;
  }

  .title {
    font-weight: 600;
  }

  .button {
    width: 100%;
    margin: auto;
  }

  .errorText {
    font-size: var(--font-size-s);
    color: var(--color-error-01);
    margin-bottom: 12px;
  }
}
