.container {
  width: 3.625rem;
  height: 3.625rem;
  border-radius: 1rem;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  background: linear-gradient(0deg, #d09742, #d09742),
    linear-gradient(339.03deg, rgba(255, 255, 255, 0) 52.79%, #ffffff 95.95%),
    linear-gradient(
      76.82deg,
      rgba(87, 98, 101, 0.6) 11.6%,
      rgba(158, 161, 161, 0.6) 25.31%,
      rgba(132, 139, 138, 0.6) 48.06%,
      rgba(87, 98, 101, 0.6) 55.72%,
      rgba(87, 98, 101, 0.6) 77.23%,
      rgba(117, 122, 123, 0.6) 85.34%,
      rgba(87, 98, 101, 0.6) 91.31%
    );
}
