.container {
  height: 2.25rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 50px;
  cursor: pointer;
  &:hover {
    background-color: rgb(231, 231, 231);
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  overflow: hidden;
}

.footer {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.country {
  margin: 16px 0;
}
.city {
  margin-bottom: 2rem;
}
