.social {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 16px;
  border-bottom: 1px solid var(--color-gray-04);

  .dropdown {
    flex: 1;
  }
}

.text {
  max-height: 650px;
  overflow-y: auto;
  word-break: break-word;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-03);
    border-radius: 12px;
  }

  .textbox {
    padding: 16px;

    &::placeholder {
      color: var(--color-gray-03);
    }
  }
}

.image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 0.5rem 1rem;
  background-color: var(--color-off-white-01);
  cursor: pointer;
}

.image input {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  width: 24px;
  height: 24px;
  opacity: 0;
  cursor: pointer;
}

.footer {
  justify-content: flex-end;
}

.btn {
  max-width: 10.18rem;
}
