.header {
  margin-bottom: 2rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
