@import 'src/components/_primitives.scss';

.container {
  width: 100%;
  position: relative;
  margin-bottom: 48px;
}

.banner {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
  //   background-image: linear-gradient(#ace0f9, #fff1eb);
}

.iconCamera {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  background-color: black;
  opacity: 60%;
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}

.camera {
  cursor: pointer;
}

.avatar {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  display: flex;
  padding: 0 24px 0 24px;
  gap: 24px;
}

.username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.username h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  color: $color-grey-900;
}

.username h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $color-grey-600;
}
.editBtn {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.iconBtn,
.iconBtn:hover {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: solid 1px $color-grey-300;
  background-color: black;
}

.actionDiv {
  margin-right: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;
}
