.container {
    background-color: bisque;
    padding: 1rem;
}

.img {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.img img {
    width: 19.437rem;
    height: 9.68rem;
}

.text {
    margin: 0.875rem 0;
}