.questionContainer {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  color: var(--color-black-01);
  border-bottom: 1px solid var(--border-gray-01);

  .question {
    font-size: 1.25rem;
    font-family: 'Hahmlet';
    font-weight: 600;
  }

  .limitStatement {
    color: var(--color-gray-01);
  }
}

.main {
  overflow: auto;
  padding: 0.75rem 0;
  max-height: 380px;
}

.dividerContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.paymentRange {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .inputs {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .input {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .label {
    font-weight: 600;
  }

  .info {
    color: var(--color-gray-01);
  }
}

.errorsContainer {
  margin-top: 4px;
  transition: height 300ms 0s;
}

.errorItem {
  display: flex;
  align-items: center;
  font-size: var(--font-size-s);
  color: var(--color-error-01);
}

.priceNotifying {
  padding-top: 0.5rem;
  color: var(--color-gray-01);
}
