@import 'src/components/_primitives.scss';

.container {
  padding: 32px;
  padding-bottom: 48px;
  @media (max-width: 640px) {
    padding: 32px 16px 64px 16px;
  }
  .header {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 640px) {
      flex-direction: column;
      gap: 20px;
    }
    .title {
      font-size: 30px;
      font-weight: 600;
      line-height: 38px;
      color: $color-grey-900;
    }
    .subtitle {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: $color-grey-600;
    }
  }
}
