@import 'src/components/_primitives.scss';

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.modal {
  @media (max-width: 640px) {
    width: 100%;
    margin: 0;
    height: 100%;
    border-radius: 0;
  }
}
.mobileHeader {
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  @media screen and (min-width: 600px) {
    display: none;
  }
}
.tabsRow {
  padding: 10px;
  border-bottom: 1px solid $color-grey-200;
  @media screen and (max-width: 600px) {
    border-top: 1px solid $color-grey-200;
  }
}

.searchInput {
  border-bottom: 1px solid $color-grey-200;
}
.content {
  height: 360px;
  display: flex;
  @media (max-width: 640px) {
    height: 100%;
  }
}
.footer {
  border-top: 1px solid $color-grey-200;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: $color-grey-500;
}
.footerSelecteItem {
  width: calc(50% + 1px);
  border-right: 1px solid $color-grey-200;
}
// .footerButton {
//   display: inline-block;
//   padding: 6px;
//   border: 1px solid $color-grey-200;
//   border-radius: 8px;
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 600;
//   line-height: 20px;
//   color: $color-grey-500;
// }

.showResults {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: $color-primary-700;
  cursor: pointer;
}
