.avatar {
  margin-bottom: 16px;
}
.title {
  font-weight: 600;
  font-size: 24px;
}
.avatar {
  width: 6rem;
  height: 6rem;
}
.link {
  margin-top: 4px;
}
.footer {
  display: flex;
  margin-top: 16px;
  color: var(--color-gray-01);
}

.following {
  color: var(--color-gray-01);
  margin-right: 8px;
}
.followers {
  color: var(--color-gray-01);
}

.description {
  margin-top: 16px;
}
