.container {
  height: var(--window-height);
  margin-top: var(--safe-area);
  display: grid;
  grid-template-rows: 3rem 6.75rem 1fr 8rem;
}

.header {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-gray-03);
  display: grid;
  grid-template-columns: 44px 1fr 44px;
  align-items: center;

  .chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }

  .stepsContainer {
    display: flex;
    justify-content: center;
  }

  .skip {
    color: var(--color-primary-01);
    cursor: pointer;
  }
}

.question {
  padding: 1rem;
  font-size: 1.25rem;
  font-family: 'Hahmlet';
  font-weight: 600;
  display: flex;
  align-items: center;
}

.main {
  padding: 1rem;
  overflow-y: scroll;
  border-bottom: 1px solid var(--color-gray-03);
}

.bottom {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 0 1rem;
}
