.container {
  padding: 1rem;
  border: 1px solid var(--border-gray-01);
  height: 7.125rem;
  border-radius: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.title {
  font-weight: 600;
  font-size: var(--font-size-m);
  color: var(--color-primary-01);
}

.body {
  font-size: var(--font-size-s2);
}

.date {
  font-size: var(--font-size-s2);
  color: var(--color-gray-01);
}
