@import 'src/components/_primitives.scss';
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  @media screen and (max-width: 600px) {
    justify-content: flex-end;
    padding-bottom: 80px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  @media screen and (max-width: 600px) {
    width: 100%;
    padding: 16px;
    padding-top: 20px;
  }
  width: 400px;

  .image {
    width: 48px;
  }
  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: $color-grey-900;
    margin-top: 16px;

    @media screen and (max-width: 600px) {
      margin-top: 12px;
    }
  }
  .message {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $color-grey-600;
    margin-bottom: 32px;
    @media screen and (max-width: 600px) {
      margin-bottom: 24px;
    }
  }
}
