.header {
  height: 16rem;
  border: 1px solid #000;
}

.featureOnProfile {
  height: 3rem;
  border: 1px solid #000;
}

.tierBadgeContainer {
  display: flex;
  justify-content: center;
}

.body {
  height: 23rem;
  border: 1px solid #000;
  background: green;
}
