.container {
  padding-top: 2rem;
}

.header {
  padding: 0 1rem;
  border-bottom: 1px solid var(--border-gray-01);
  padding-bottom: 1rem;
}

.featureOnProfile {
  height: 3rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.tierBadgeContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.body {
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.badgeList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem 0;
  justify-items: center;
}
