.input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tabs {
  overflow: hidden;
  //   border-top: 1px solid var(--border-gray-01);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;

  .tabLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: 80ms ease;
    border-bottom: 1px solid var(--border-gray-01);

    &::after {
      content: url('/icons/arrow-down-black.svg');
      transition: all 0.35s;
    }

    &_noBorder {
      border-bottom: none;
    }
  }

  &Content {
    max-height: 0;
    background: white;
    transition: all 0.35s;
  }
}

.input:checked {
  + .tabLabel {
    background-color: #ffffff;
    transition: 0.5s;
    height: 3.75rem;
    size: 1rem;
    color: var(--color-black-01);
    font-weight: 600;

    &::after {
      transform: rotate(-180deg);
    }
  }

  ~ .tabContent {
    max-height: 100vh;
    // padding: 1em;
    border-bottom: 1px solid var(--border-gray-01);
  }
}
