@import 'src/components/_primitives.scss';

.supprtingText {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $color-grey-600;
}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $color-grey-600;
}

.bold {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: $color-grey-700;
}
