.title {
  height: 2rem;
  color: var(--color-primary-01);
  font-size: var(--font-size-m);
}

.menuItem {
  height: 2.75rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
