
.title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600px;
}
.borderSection {
    border-bottom: 1px solid #EAECF0;
    @apply py-5
}
.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalStyle {
    width:35rem;
    height: auto;
    max-width:80vw;
    #modal-box {
        z-index: 9999;
    }
    
}