.container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    // height: 4.5rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-gray-01);
    padding: 1.25rem;
    padding-top: var(--safe-area);
    position: fixed;
    top: 0;
    width: 100%;
}

.main {
    padding-top: 11rem;
}

.title {
    font-weight: 600;
    font-size: 1.25rem;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.text {
    padding: 1rem;
    min-height: 10rem;
    overflow-y: scroll;
    border-bottom: 1px solid var(--border-gray-01);
    line-height: 1.5;
}

.image {
    padding: 1rem;
}

.image img {
    width: 100%;
    height: auto;
    max-height: 24rem;
}

.footer {
    background-color: aquamarine;
    margin-top: auto;
}

.button {
    display: flex;
    justify-content: flex-end;
    background-color: #ffffff;
    padding: 2.5rem 1rem;
}

.button Button {
    width: 10.18rem;
}