.status {
  display: flex;
  justify-content: center;
  background-color: var(--color-off-white-01);
  padding: 2.5rem 2.5rem 0 2.5rem;
}

.congratulations {
  width: 100%;
  max-width: 960px;
  border-radius: 1rem;
  padding: 12px;
  display: grid;
  grid-template-columns: 44px 1fr;
  background-color: var(--color-success-01);
  .congratulationsText {
    color: #fff;
    line-height: 20px;
    font-size: var(--font-size-s2);
  }
  .congratulationsText:first-child {
    font-weight: 600;
    padding-bottom: 4px;
  }
}

.acceptedMessageBox {
  width: 100%;
  max-width: 960px;
  border-radius: 1rem;
  padding: 12px;
  display: grid;
  grid-template-columns: 44px 1fr;
  background-color: var(--color-yellow-01);
  .congratulationsText {
    line-height: 20px;
    font-size: var(--font-size-s2);
  }
  .congratulationsText:first-child {
    font-weight: 600;
    padding-bottom: 4px;
  }

  .companyName {
    font-weight: 600;
  }
}

.leftContainer {
  position: sticky;
  top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.missionDetailContainer {
  padding: 1rem;
}

.missionDetailMessage {
  margin-bottom: 1rem;
}

.detailItemContainer {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  .detailItemLabel {
    color: var(--color-primary-01);
    margin-bottom: 0.5rem;
  }
}

.jobInfoContainer {
  padding: 1rem;
}

.jobTitle {
  margin: 1rem 0;
  font-weight: 600;
}

.aboutCompany {
  padding: 1rem;
}

.wallet {
  display: flex;
  justify-content: center;
}

.btnContainer {
  display: flex;
  gap: 0.5rem;
  margin-top: auto;
  flex-direction: column;
  align-items: center;

  .btn {
    max-width: initial;
  }
}

.uploadedResume {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.hours{
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .hours_status{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .text{
    line-height: 18px;
  }
  .icon{
    width: 18px;
    height: 18px;
  }
}
.view_more{
  color: var(--color-primary-01);
  text-decoration: underline green;
  cursor: pointer;
}
.hours_btn{
  width: 100%;
  margin-top: 1rem;
  .btn_full{
    width: 100%;
    max-width: initial;
  }
}

