:root {
  --color-primary-01: rgba(47, 71, 134, 1);
  --color-secondary-02: rgba(47, 134, 71, 1);

  --color-black-01: rgba(2, 3, 5, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-off-white-01: #f8f8f8;
  --color-gray-01: rgba(128, 130, 137, 1);
  --color-gray-02: #a2a6b6;
  --color-gray-03: #bec0c7;
  --color-gray-04: rgba(228, 230, 237, 1);
  --color-neutral-600: #949494;

  --color-error-01: rgba(223, 48, 48, 1);
  --color-success-01: rgba(0, 186, 136, 1);

  --font-size-s: 0.75rem;
  --font-size-s2: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2.25rem;
  --font-color-primary: #1f2128;

  --safe-area: 8rem;
  --window-height: calc(100vh - var(--safe-area));
}
