.inputContainer {
  height: 44px;
  display: grid;
  border: 1px solid var(--color-gray-04);
  border-radius: 0.5rem;
  grid-template-columns: minmax(2rem, 1fr) 2.75rem;
  background: #fff;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.input {
  text-indent: 10px;
  &::placeholder {
    color: var(--color-gray-03);
  }
}

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  transition: all 180ms 0ms;
}

.options {
  opacity: 0;
  height: 0;
  border-radius: 0.5rem;
  transition: all 180ms 0ms;
  border: 1px solid var(--color-gray-04);
  overflow-y: scroll;
}

.option {
  height: 44px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.active {
  opacity: 1;
  height: auto;
}

.helperText {
  opacity: 0.5;
  padding-left: 0.5rem;
  font-size: var(--font-size-s2);
}
