.container {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  border: 1px solid #e4e6ed;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}
