.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr 8rem;
}

.sentTo {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-gray-01);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.tokens {
  display: flex;
  flex-direction: column;

  &__rate {
    margin-top: 0.5rem;
    align-self: flex-end;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-gray-02);
  }
}

.btnContainer {
  border-top: 1px solid var(--border-gray-01);
  padding: 1rem;
}
