.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr var(--menu-height);
  background-color: var(--color-off-white-01);
}

.body {
  overflow-y: scroll;
}

.navContainer {
  height: 100%;
  display: grid;
  padding: 0.5rem 1rem 0 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  background-color: #ffffff;
  border-top: 1px solid var(--border-gray-01);
}

.navItem {
  height: 2.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navIcon {
  padding: 0;
}

.navLabel {
  color: var(--color-gray-03);
  font-size: var(--font-size-s);
}
