@import 'src/components/_primitives.scss';
.container {
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
}
.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: $color-grey-700;
}

.icon {
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}
.iconNotChecked {
  border-color: $color_grey_300;
}
.checkboxContainer:hover .iconNotChecked,
.checkboxContainer:focus-within .iconNotChecked {
  background-color: $color-primary-100;
  border-color: $color-primary-600;
}

.iconChecked {
  border-color: $color_grey_300;
  background-color: $color-primary-50;
}
.checkboxContainer:hover .iconChecked,
.checkboxContainer:focus-within .iconChecked {
  background-color: transparent;
}

// .default {
//   &:global(.MuiCheckbox-root) {
//     &:focus-visible {
//       border-color: $color_grey_300;
//       background-color: $color-primary-50;
//     }
//   }
// }
