@import 'src/components/_primitives.scss';
.container {
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
}
.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: $color-grey-700;
}

.icon {
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}
.iconNotChecked {
  border-color: $color_grey_300;
}
.checkboxContainer:hover .iconNotChecked {
  background-color: $color-primary-100;
  border-color: $color-primary-600;
}

.checkboxContainer:focus-within .iconNotChecked {
  background-color: $color-white;
  border-color: $color-primary-300;
  box-shadow: 0px 0px 0px 4px #e6eded;
}

.iconChecked {
  border-color: $color_grey_600;
  background-color: $color-primary-50;
}
.checkboxContainer:hover .iconChecked {
  background-color: $color-primary-100;
}
.checkboxContainer:focus-within .iconChecked {
  background-color: $color-primary-50;
  box-shadow: 0px 0px 0px 4px #e6eded;
}
