@import 'src/styles/constants/_primitives.scss';

$box-width: 22.5rem;

.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8.875rem;
    padding-top: 2rem;

    @media (max-width: $width-2xl) {
        gap: 4.5rem;
    }

    @media (max-width: $width-xl) {
        gap: 2rem;
        flex-direction: column-reverse;
    }

    &__left {
        width: calc(100% - $box-width);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $color-grey-200;

        @media (max-width: $width-xl) {
            width: 100%;
            border-bottom: 0;
        }
    }

    &__right {
        width: 100%;
        max-width: $box-width;

        @media (max-width: $width-xl) {
            max-width: 100%;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        color: $color-grey-900;
    }

    .samples {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1rem;
        overflow: auto;

        &__img {
            flex: 0 0 calc(33.33% - 1rem);
            max-height: 10.25rem;
            border: 1px solid $color-grey-200;
            border-radius: $radius-xl;
            object-fit: cover;

            @media (max-width: $width-xl) {
                flex: 0 0 100vw;
                width: 100vw;
                height: 10.25rem;
            }
        }
    }

    .description {
        font-size: 16px;
        line-height: 24px;
        color: $color-grey-600;
    }
}
