.container {
    display: flex;
    justify-content: space-around;
}

.item {
    height: 1rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    border-right: 1px solid var(--color-gray-04);
    cursor: pointer;
}

.item:last-child {
    border-right: 0;
}

.label {
    font-size: 0.875rem;
    font-family: 'Work Sans';
    color: var(--color-gray-01);
}