.container {
  display: flex;
  align-items: center;
}

.detail {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name {
  width: 10rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: var(--font-size-s2);
}

.location {
  width: 10rem;
  max-width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-gray-01);
  font-weight: 400;
  font-size: var(--font-size-s2);
}
