@import 'src/components/_primitives.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: $color-grey-700;
}
.inputContainer {
  display: flex;
  height: 44px;
  border: solid 1px $color-grey-300;
  border-radius: 8px;
  gap: 8px;
  padding: 0px 14px 0px 14px;
  align-items: center;
  cursor: pointer;
}
.inputContainer:focus-within {
  box-shadow: 0px 0px 0px 4px #e6eded;
}

.hint {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: $color-grey-600;
}
.customInput {
  border: none;
  width: fit-content;
  height: 100%;
  outline: 0;
}
.menu {
  display: flex;
  flex-direction: column;
  max-height: 320px;
  height: fit-content;
  overflow-y: auto;
  border: solid 1px $color-grey-200;
  margin-top: -7px;
  border-radius: 8px;
}
.menuItem {
  display: flex;
  height: 48px;
  align-items: center;
  padding: 0 10px 0 10px;
  border-radius: 6px;
  gap: 8px;
}
.menuItemSelected {
  background-color: $color-grey-50;
}
.menuItemTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $color-grey-900;
}
.menuItemSubTitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $color-grey-600;
}
