@import 'src/components/_primitives.scss';
.container {
  width: 640px;
  margin: auto;
  max-height: 90%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 640px) {
    width: 100%;
    max-height: 100%;
  }
}

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  color: $color-grey-900;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: $color-grey-600;
}

.closeBtn {
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 44px;
  height: 44px;
}

.closeBtn:focus-visible {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}
