@import 'src/styles/constants/_primitives.scss';

.btn {
    width: 100%;
    background-color: #0068c9;
    border-radius: $radius-md;
    padding: 0.625rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: $color-white;
    cursor: pointer;
}
