.jobTitle {
  margin: 1rem 0;
  font-weight: 600;
  font-size: var(--font-size-m);
  color: var(--color-black-01);
}

.appSubmitted {
  height: 2.8rem;
  background: var(--color-off-white-01);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: 1rem;
  font-weight: 700;
}

.questionItem {
  & + .questionItem {
    margin-top: 1rem;
  }
}
.btnContainer{
  display: flex;
  align-items: center;
  gap: 1rem;
}
