@import 'src/components/_primitives.scss';
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: $color-white;
  border: 1px solid $color-grey-300;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  color: $color-grey-700;
}
