.container {
  display: flex;
  justify-content: center;
  background-color: var(--color-off-white-01);
  min-height: calc(100vh - var(--desktop-nav-height));
}

.boundaries {
  width: 61rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.banner {
  height: 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.5rem;
  border-radius: 30px;
  background-image: url('/images/feed-page-header.png');
  background-size: cover;
  background-position: 30%;
  background-color: var(--color-gray-04);
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, transparent, 50%, rgba(black, 0.35));
  }
}

.title {
  position: relative;
  font-size: var(--font-size-xl);
  color: #ffffff;
  font-weight: 600;
  font-family: 'Inter';
}

.tagline {
  position: relative;
  color: #d4d2d0;
  font-size: var(--font-size-m);
}

.createButton {
  background-color: var(--color-off-white-01);
  height: 3rem;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  color: var(--color-primary-01);
  font-size: 1rem;
  cursor: pointer;
}

.moreBox {
  width: 288px;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .moreHeader {
    padding-bottom: 0.5rem;
    color: var(--color-gray-02);
  }

  .moreOption {
    cursor: pointer;
  }
}
