@import 'src/components/_primitives.scss';
.borderSection {
    border-bottom: 1px solid #EAECF0;
    @apply py-5
}
.title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: $color-grey-700;
}
.item {
    padding: 11px 16px;
    flex: 1;
    display: flex;
    gap: 8px;
}