.leftContainer {
  .card {
    padding: 1rem 0;
    position: relative;

    &__header {
      padding: 1rem;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      border-bottom: 1px solid var(--border-gray-01);
    }

    &__fab {
      position: absolute;
    }
  }
}

.rightContainer {
  padding: 0;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 4.8rem);

  .main,
  .main__loading {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: scroll;
  }

  .main__loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sendBoxContainer {
    border-top: 1px solid var(--border-gray-01);
    padding: 1rem;
  }

  .emptyBoxContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 24px;
      font-weight: 600;
      color: var(--color-primary-01);
    }
  }
}

.loader {
  width: 3rem;
  height: 3rem;
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.3rem solid var(--color-primary-01);
    animation: spin 2s linear infinite;
  }

  &::after {
    animation-delay: 1s;
  }
}

@keyframes spin {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
