//FIXME: create a general color system for variables in abstracts/_variables
$color-gray-light-0: #e4e6ed;

.container {
  padding: 24px 16px;

  &__spacer {
    margin: 16px 0;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-top: 1px solid $color-gray-light-0;

  &__btn {
    max-width: unset;
    width: 100%;

    &--cancel {
      border: none;
      margin-top: 8px;
    }
  }
}

@mixin MessageBoxJSX {
  width: 100%;
  padding: 12px;
  display: flex;
  gap: 0.75rem;
}

.offeredMessageBoxJSX {
  @include MessageBoxJSX();
  align-items: flex-start;
  background-color: #df3030;
}

.acceptedMessageBox {
  @include MessageBoxJSX();
  align-items: center;
  background-color: var(--color-success-01);
}

.congratulationsText {
  color: #fff;
  font-size: var(--font-size-s2);
}

.congratulationsText:first-child {
  font-weight: 600;
  padding-bottom: 4px;
}
