.container {
  min-width: 25rem;
  overflow: scroll;
  max-height: 70vh;
  background: #fff;
  border-radius: 1.5rem;
  border: 1px solid var(--border-gray-01);
  box-shadow: 0px 0px 20px 1px #1f1f1f23;
  transition: all 180ms 0ms;
  opacity: 0;
  cursor: auto;
}

.accountList {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.accountItem {
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 180ms 0ms;
}

.accountItem:hover {
  background-color: #004a4618;
}

.settingsMenuContainer {
  display: flex;
  flex-direction: column;
}

.menuItem {
  height: 2rem;
  display: flex;
  align-items: center;
  > span {
    display: block;
    cursor: pointer;
    transition: all 180ms 0ms;
  }
  > span:hover {
    background: #7e7e7e36;
    height: 100%;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
