.container {
  height: 16rem;
  max-height: 16rem;
  padding: 1rem;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.label {
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  margin: 0.5rem 0 1rem 0;
  color: var(--color-black-01);
}
