@import 'src/components/_primitives.scss';
.container {
  padding-bottom: 20px;
  @media screen and (min-width: 600px) {
    padding-bottom: 32px;
  }
  border-bottom: 1px solid $color-grey-200;
  .title {
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    color: $color-grey-900;
  }
  .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $color-grey-600;
  }
  .titleButtons {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
  //FIX: diffrent size for backlink
  .back {
    max-width: 100px;
  }
}
