@import 'src/components/_primitives.scss';

.cropContainer {
  width: 100%;
  height: 560px;
  position: relative;
  background-color: $color-grey-900;
  @media screen and (min-width: 600px) {
    width: 640px;
    height: 480px;
  }
}

.cropAbsolute {
  width: 100%;
  height: 375px;
  top: 90px;
  left: 0;
  @media screen and (min-width: 600px) {
    width: 560px;
    height: 400px;
    left: 40px;
    top: 32px;
    margin-bottom: 0;
  }
}

.errorMsg {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 6px;
  color: $color-error-500;
}
