.profileHeader {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.username {
  font-weight: 600;
  padding-bottom: 0.2rem;
}

.profileLink {
  cursor: pointer;
  color: var(--color-primary-01);
}

.profileFooter {
  height: 2rem;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.followers,
.connections {
  color: var(--color-gray-02);
}
