@import 'src/components/_primitives.scss';

.avatarBtn {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}
.avatarBtnOpen,
.avatarBtn:focus {
  box-shadow: 0 0 0 4px $color-primary-100;
}

.menuList {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 48px;
  width: 280px;
  max-height: 384px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $color-white;
  border: solid 1px $color-grey-200;
  border-radius: 8px;
  box-shadow:
    0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  padding: 0;
}

.menuItem {
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.menuItem:hover {
  background-color: $color-grey-50;
}
.menuItem:focus-visible {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
  background-color: white;
}

.createLabel {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  color: $color-primary-700;
}
