@import 'src/components/_primitives.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-xs {
  width: 24px;
  height: 24px;
}
.container-sm {
  width: 32px;
  height: 32px;
}
.container-md {
  width: 40px;
  height: 40px;
}
.container-lg {
  width: 48px;
  height: 48px;
}
.container-xl {
  width: 56px;
  height: 56px;
}

.light-circle,
.light-circle-outlined,
.dark-circle {
  border-radius: 50%;
}

.container-light-circle-primary {
  background-color: $color-primary-100;
  border: none;
}
.container-light-circle-gray {
  background-color: $color-grey-100;
  border: none;
}
.container-light-circle-error {
  background-color: $color-error-100;
  border: none;
}
.container-light-circle-warning {
  background-color: $color-warning-100;
  border: none;
}
.container-light-circle-success {
  background-color: $color-success-100;
  border: none;
}

.container-light-circle-outlined-xs,
.container-dark-circle-xs {
  border: 2px solid;
}

.container-light-circle-outlined-sm,
.container-dark-circle-sm {
  border: 4px solid;
}

.container-light-circle-outlined-md,
.container-dark-circle-md {
  border: 6px solid;
}

.container-light-circle-outlined-lg,
.container-dark-circle-lg {
  border: 8px solid;
}

.container-light-circle-outlined-xl,
.container-dark-circle-xl {
  border: 10px solid;
}

.container-light-circle-outlined-primary {
  background-color: $color-primary-100;
  border-color: $color-primary-50;
}
.container-light-circle-outlined-gray {
  background-color: $color-grey-100;
  border-color: $color-grey-50;
}
.container-light-circle-outlined-error {
  background-color: $color-error-100;
  border-color: $color-error-50;
}
.container-light-circle-outlined-warning {
  background-color: $color-warning-100;
  border-color: $color-warning-50;
}
.container-light-circle-outlined-success {
  background-color: $color-success-100;
  border-color: $color-success-50;
}

.container-dark-circle-primary {
  background-color: $color-primary-600;
  border-color: $color-primary-700;
}
.container-dark-circle-gray {
  background-color: $color-grey-600;
  border-color: $color-grey-700;
}
.container-dark-circle-error {
  background-color: $color-error-600;
  border-color: $color-error-700;
}
.container-dark-circle-warning {
  background-color: $color-warning-600;
  border-color: $color-warning-700;
}
.container-dark-circle-success {
  background-color: $color-success-600;
  border-color: $color-success-700;
}
