@import 'src/components/_primitives.scss';

.container {
    background-color: $color-grey-50;

    .header {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: solid 1px $color-grey-200;
        background-color: white;
        @media (max-width: 640px) {
            padding: 2rem 1rem;
            gap: 1.25rem;
        }

        .title {
            font-size: 30px;
            font-weight: 600;
            line-height: 38px;
            color: $color-grey-900;
        }

        .subtitle {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: $color-grey-600;
        }
    }

    .create {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background: $color-white;
        border: 1px solid $color-grey-200;
        border-radius: 12px;
        box-shadow: $shadow-xs;
    }
}
