@import 'src/styles/constants/_primitives.scss';

.organizationJobs {
    .jobListing {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5rem;
        width: 100%;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }

        .jobItem {
            width: calc(50% - 0.75rem);
            @media screen and (max-width: 1024px) {
                width: 100%;
            }
        }
    }
}
