@import 'src/components/_primitives.scss';

.chip {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-grey-200;
  border-radius: 16px;
  background-color: $color-primary-50;
  padding: 4px 12px 4px 12px;
}
