@import 'src/styles/constants/_primitives.scss';

.container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 0;

    .row {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $color-grey-900;

        &__title {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: $color-grey-700;
        }
    }

    .box {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding: 1.25rem;
        border: 1px solid $color-grey-200;
        border-radius: $radius-md;

        &__item {
            display: flex;
            align-items: center;
            gap: 0.375rem;
            font-size: 1rem;
            font-weight: 500;
            line-height: 24px;
            color: $color-grey-700;

            &--lighter {
                font-size: 14px;
                font-weight: normal;
                line-height: 20px;
                color: $color-grey-600;
            }
        }

        &__volunteer {
            display: flex;
            align-items: center;
            gap: 0.375rem;
            font-size: 1rem;
            font-weight: 500;
            line-height: 24px;
            color: $color-grey-700;
        }
    }

    .file {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: $color-grey-900;
        overflow-wrap: break-word;
        word-break: break-all;
        white-space: normal;
        cursor: pointer;
    }
}
