.container {
    margin: 2rem 0;
    border-bottom: 1px solid var(--border-gray-01);
    padding-bottom: 1rem;
}

.info {
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.date {
    color: var(--color-gray-01);
}

.wrapper {
    margin-left: calc(100vw - 95%);
}

.messageBox {
    margin: 0.75rem 0;
}

.like {
    display: flex;
    gap: 0.5rem;
}