@import 'src/components/_primitives.scss';

.jobCard {
  @media screen and (min-width: 600px) {
    width: 360px;
    padding: 24px;
  }
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid $color-grey-200;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  .item {
    display: flex;
    margin-bottom: 16px;
  }
}
