.container {
  height: var(--window-height);
  margin-top: var(--safe-area);
  display: grid;
  grid-template-rows: 3rem 4.875rem 3.75rem 1fr 8rem;
}

.header {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-gray-03);
  display: grid;
  grid-template-columns: 44px 1fr 44px;
  align-items: center;

  .chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }

  .stepsContainer {
    display: flex;
    justify-content: center;
  }
}

.questionContainer {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5rem;
  color: var(--color-black-01);

  .question {
    font-size: 1.25rem;
    font-family: 'Inter';
    font-weight: 600;
  }

  .limitStatement {
    color: var(--color-gray-01);
  }
}

.search {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-gray-03);
}

.bottom {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 0 1rem;
}

.main {
  padding: 1.5rem 1rem;
  background-color: var(--color-off-white-01);
  border-bottom: 1px solid var(--color-gray-03);

  .categoryTitle {
    font-weight: 600;
    padding-bottom: 1.5rem;
  }
  overflow-y: scroll;
}
