.borderSection {
    border-bottom: 1px solid #EAECF0;
    @apply py-5
}
.validation {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.passwordWarning {
    border: 1px solid #FEC84B;
    color: #B54708;
    border-radius: 12px;
    padding: 12px;
    gap: 16px;
    display: flex;
    align-items: center;
}