$left-column: 17.5rem;

.content {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.leftCol {
    flex: 1;
    width: $left-column;
    gap: 24px;
    overflow: hidden;
}

.rightCol {
    flex: 3;
    width: calc(100% - $left-column);
}

.textMd {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.textSM {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
