.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
}

.bar {
  height: 12px;
  border-radius: 15px;
  background: #ccf1e7;
  overflow: hidden;
}

.innerBar {
  height: 12px;
  border-radius: 15px;
  background-color: #00ba88;
  transform: translateX(-100%);
}
