.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  max-height: 625px;
  overflow-y: auto;
}

.tokens {
  display: flex;
  flex-direction: column;

  &__rate {
    margin-top: 0.5rem;
    align-self: flex-end;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-gray-02);
  }
  &__note {
    margin-top: 0.5rem;
    align-self: flex-end;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-gray-02);
  }
}

.inputTitle {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
