.modal {
  width: 540px;
  padding: 1rem 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
  padding: 0 1rem 1rem 1rem;
  border-bottom: 1px solid var(--border-gray-01);

  .icon {
    cursor: pointer;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0 0;
  min-height: 450px;

  .search {
    padding: 0 1rem;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-gray-02);
    padding: 1rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    &__user {
      padding: 1rem;
      border-top: 1px solid var(--border-gray-01);
    }
  }

  .notFound {
    text-align: center;
    font-weight: 600;
    padding: 1rem;
    border-top: 1px solid var(--border-gray-01);
  }
}

@media screen and (max-width: 600px) {
  .modal {
    height: 100vh;
    width: 100%;
    margin: 0;
  }
}
