@import 'src/components/_primitives.scss';

.subtitle {
  color: $color-grey-600;
  margin-bottom: 48px;
  margin-top: 32px;
}

.title {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 24px;
  color: $color-grey-900;
}
.description {
  color: $color-grey-600;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 32px;
}
