.header {
  height: auto;
  margin: 1rem 0;
}

.form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bottom {
  padding: 1rem 1rem 0 1rem;
  border-top: 1px solid #e4e6ed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
