.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-03);
}

.card {
  display: grid;
  grid-template-rows: 50px 8rem 1fr 6.75rem;
  height: 85vh;
  max-height: 900px;
  width: 35rem;
  overflow: scroll;
}

.header {
  border-bottom: 1px solid var(--color-gray-03);
  display: grid;
  grid-template-columns: 44px 1fr 44px;
  align-items: center;

  .chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }

  .stepsContainer {
    display: flex;
    justify-content: center;
  }

  .skip {
    color: var(--color-primary-01);
    cursor: pointer;
  }
}

.question {
  padding: 0 1.5rem;
  font-size: 1.25rem;
  font-family: 'Hahmlet';
  font-weight: 600;
  display: flex;
  align-items: center;
}

.main {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid var(--color-gray-03);
  overflow-y: scroll;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
