.container {
  height: var(--window-height);
  display: grid;
  grid-template-rows: 1fr 10rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  border: 1px solid #000;
}

.top {
  overflow-y: scroll;
}

.bottom {
  border-top: 1px solid #e4e6ed;
}
