.container {
  height: calc(100vh - 8rem);
  display: grid;
  grid-template-rows: 1fr 10rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.top {
  overflow-y: scroll;
}

.bottom {
  border-top: 1px solid #e4e6ed;
}
