@import 'src/components/_primitives.scss';

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-right: 0;
  margin-left: auto;
}

.header {
  height: 72px;
  width: 100%;
  border-bottom: 1px solid $color-grey-200;
  padding: 0px 24px 0px 24px;
  display: flex;
  align-items: center;
}
.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.closeBtn {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-left: auto;
  margin-right: 0;
  border-radius: 8px;
  cursor: pointer;
}

.closeBtn:hover,
.closeBtn:focus {
  background-color: $color-grey-50;
}
