.container {
  width: 6.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.impactBarContainer {
  width: 3.625rem;
  padding: 4px 0 8px 0;
}

.label {
  height: 40px;
  padding-top: 0.25rem;
  font-size: var(--font-size-s);
  text-align: center;
}
