.searchContainer {
  height: 3.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  background-color: var(--color-off-white-01);
  border-bottom: 1px solid var(--border-gray-01);
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  gap: 0.5rem;
  padding: 0 2rem;

  .title {
    font-family: 'Hahmlet';
    font-weight: 600;
    font-size: var(--font-size-l);
    color: var(--color-gray-01);
  }

  .body {
    text-align: center;
    line-height: 150%;
    color: var(--color-gray-02);
  }
}
