.button {
  height: 2.75rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  max-width: 400px;
  border-radius: 50px;
  color: var(--color-primary-01);
  border: 1px solid;
  border-color: var(--color-gray-04);
  background-color: var(--color-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  transition: opacity 150ms 0s;
}

.button:disabled {
  opacity: 0.5;
}

.blue {
  background-color: var(--color-primary-01);
  border: 0;
  color: var(--color-white);
}

.red {
  background-color: var(--color-error-01);
  border: 0;
  color: var(--color-white);
}

.primary {
  background-color: var(--color-primary-blue);
  border: 0;
  color: var(--color-white);
}

,
.size-s {
  height: 2.25rem;
}
