@import 'src/components/_primitives.scss';
.statusButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 132px;
  height: 100%;
  border: 1px solid $color-grey-300;
  border-radius: 8px;
  text-transform: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  color: $color-grey-700;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.statusButton:hover {
  border: 1px solid $color-grey-300;
  background-color: $color-grey-50;
}

.menu {
  width: 240px;
  height: fit-content;
  border: solid 1px $color-grey-200;
  border-radius: 8px;
  box-shadow:
    0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  background-color: $color-white;
  margin-top: 10px;
  padding: 4px 0;
  display: flex;
  flex-direction: column;
}
.parentMenu {
  position: absolute;

  top: 38px;
}
.menu .item {
  padding: 11px 16px;
  flex: 1;
  display: flex;
  gap: 8px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: $color-grey-700;
}
.subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: $color-grey-600;
}
