.container {
  height: 4.25rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-gray-01);
  padding: 0 0.75rem;
}

.right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.25rem;
}

.time {
  font-size: var(--font-size-s2);
  color: var(--color-gray-02);
}
