.container {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    position: relative;
}

.file {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    cursor: pointer;

    input {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        opacity: 0;
        cursor: pointer;
    }
}
