.container {
    display: flex;
    overflow-x: scroll;
    gap: 1rem
}

.item {
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    padding: 1rem;

}

.item span {
    white-space: nowrap;
}

.active {
    background-color: var(--color-primary-01);
    padding: 1rem 2rem;
    border-radius: 1.25rem;
}

.active span {
    font-size: 1rem;
    color: #ffffff;
}