.followings {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: white;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--border-gray-01);
  }

  &__avatar {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 16px;
  }
}

.noFollowing {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-02);
  font-size: 24px;
  font-weight: 600;
  margin-top: 50%;
}

.seeMore {
  text-align: center;
  font-weight: 600;
  font-size: var(--font-size-s2);
  color: var(--color-primary-01);
  cursor: pointer;
  margin-top: 1rem;
}
