@import 'src/components/_primitives.scss';

.container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 400px;
  z-index: 1200;
  display: flex;
  flex-direction: column;
  box-shadow: $shadow-xl;
  border: 1px solid $color-grey-200;
  background-color: white;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.header {
  width: 100%;
  height: 72px;
}

.content {
  padding: 0 24px;
  height: 100%;
  overflow-y: auto;
  @media screen and (max-width: 600px) {
    padding: 0 16px;
  }
}

.headerOverwrite {
  border-bottom: solid 1px #eaecf0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 24px;
}

.closeButtonOverwrite {
  margin: 0 !important;
}
