@import 'src/components/_primitives.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  // @media screen and (min-width: 600px) {
  //   justify-content: center;
  // }
}
.card {
  border: solid 2px $color-grey-200;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-grey-700;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  padding: 16px;
  @media screen and (max-width: 600px) {
    padding: 14px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}
.cardSelected {
  background-color: $color-primary-50;
  border-color: $color-primary-600;
}
