.container {
  position: relative;
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 6px;
}

.icon {
  color: red;
}

.msg {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 6px;
}
.successMsg {
  color: #099250;
}
.errorMsg {
  color: red;
}

.default {
  input {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #101828;
    height: 44px;
    width: 100%;
    padding: 0 14px 0 14px;
  }
  fieldset {
    border-radius: 8px;
  }
}
.prefix {
  min-height: 44px;
  height: 44px;
  border-right: solid 1px #d6d6d6;
  padding-right: 14px;
}
