:root {
  --color-primary-01: #004a46;
  --color-secondary-02: rgba(47, 134, 71, 1);
  --color-secondary-light: #d2ebc0;
  --color-secondary-light-01: #f2f5ef;
  --color-black-01: rgba(2, 3, 5, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-off-white-01: #f8f8f8;
  --color-error-01: rgba(223, 48, 48, 1);
  --color-success-01: rgba(0, 186, 136, 1);
  --color-warning-01: #f4b740;
  --color-gray-01: rgba(128, 130, 137, 1);
  --color-gray-02: #a2a6b6;
  --color-gray-03: #bec0c7;
  --color-gray-04: rgba(228, 230, 237, 1);
  --color-pink: #f00073;
  --color-gray-dark-01: #808289;

  --font-size-s: 0.75rem; // 12px
  --font-size-s2: 0.875rem; // 14px
  --font-size-m: 1rem; // 16px
  --font-size-l: 1.5rem; // 24px
  --font-size-xl: 2.25rem;
  --font-color-primary: #1f2128;

  --safe-area: 8rem;
  --window-height: calc(100vh - var(--safe-area));
  --menu-height: 5.18rem;

  --border-gray-01: #e2e2e2;
  --desktop-nav-height: 4rem;
  --color-primary-blue: #2f4786;
  --color-black-01: #020305;
}

@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-Regular.woff2');
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  src: url('/fonts/Inter-Medium.woff2');
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  src: url('/fonts/Inter-SemiBold.woff2');
}

//Nowruz Colors
$color-primary-50: #f3f6f6;
$color-primary-100: #e6eded;
$color-primary-200: #ccdbda;
$color-primary-300: #99b7b5;
$color-primary-500: #336e6b;
$color-primary-600: #004a46;
$color-primary-700: #003b38;
$color-primary-800: #002c2a;

$color-white: #ffffff;

$color-grey-50: #f9fafb;
$color-grey-100: #f2f4f7;
$color-grey-200: #eaecf0;
$color-grey-300: #d0d5dd;
$color-grey-400: #98a2b3;
$color-grey-500: #667085;
$color-grey-600: #475467;
$color-grey-700: #344054;
$color-grey-800: #1d2939;
$color-grey-900: #101828;

$color-grey-blue-50: #f8f9fc;
$color-grey-blue-200: #d5d9eb;
$color-grey-blue-700: #363f72;

$color-error-100: #fee4e2;
$color-error-200: #fecdca;
$color-error-300: #fda29b;
$color-error-500: #f04438;
$color-error-600: #d92d20;
$color-error-700: #b42318;

$color-success-100: #d1fadf;
$color-success-500: #12b76a;
$color-success-600: #039855;

$color-sail-100: #fbf7f5;

// Nowruz Box Shadows
$Focus-rings-brand: 0px 0px 0px 4px rgba(51, 110, 107, 0.24);
$Focus-rings-brand-shadow-xs:
  0px 0px 0px 4px rgba(51, 110, 107, 0.24),
  0px 1px 2px 0px rgba(16, 24, 40, 0.05);
$Focus-rings-brand-shadow-sm:
  0px 0px 0px 4px rgba(51, 110, 107, 0.24),
  0px 1px 2px 0px rgba(16, 24, 40, 0.06),
  0px 1px 3px 0px rgba(16, 24, 40, 0.1);
$Shadows-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
$Shadows-sm:
  0px 1px 2px 0px rgba(16, 24, 40, 0.06),
  0px 1px 3px 0px rgba(16, 24, 40, 0.1);
$Shadows-md:
  0px 2px 4px -2px rgba(16, 24, 40, 0.06),
  0px 4px 8px -2px rgba(16, 24, 40, 0.1);
$Shadows-lg:
  0px 4px 6px -2px rgba(16, 24, 40, 0.03),
  0px 12px 16px -4px rgba(16, 24, 40, 0.08);
$Shadows-xl:
  0px 8px 8px -4px rgba(16, 24, 40, 0.03),
  0px 20px 24px -4px rgba(16, 24, 40, 0.08);
$Shadows-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
$Shadows-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
