:root {
  --color-primary-01: #004a46;
  --color-secondary-02: rgba(47, 134, 71, 1);
  --color-secondary-light: #d2ebc0;

  --color-black-01: rgba(2, 3, 5, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-off-white-01: #f8f8f8;
  --color-error-01: rgba(223, 48, 48, 1);
  --color-success-01: rgba(0, 186, 136, 1);
  --color-warning-01: #f4b740;
  --color-gray-01: rgba(128, 130, 137, 1);
  --color-gray-02: #a2a6b6;
  --color-gray-03: #bec0c7;
  --color-gray-04: rgba(228, 230, 237, 1);

  --font-size-s: 0.75rem; // 12px
  --font-size-s2: 0.875rem; // 14px
  --font-size-m: 1rem; // 16px
  --font-size-l: 1.5rem; // 24px
  --font-size-xl: 2.25rem;
  --font-color-primary: #1f2128;

  --safe-area: 8rem;
  --window-height: calc(100vh - var(--safe-area));
  --menu-height: 5.18rem;

  --border-gray-01: #e2e2e2;
  --desktop-nav-height: 4rem;
  --color-primary-blue: #2f4786;
  --color-black-01: #020305;
}
