.modal {
  width: 540px;
  padding: 1rem 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
  padding: 0 1rem 1rem 1rem;
  border-bottom: 1px solid var(--border-gray-01);
}

.container {
  display: flex;
  flex-direction: column;
  height: 450px;

  .search {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--border-gray-01);
    background-color: var(--color-off-white-01);
  }

  .list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    &__member {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border-bottom: 1px solid var(--border-gray-01);
    }

    &__added {
      color: var(--color-gray-02);
    }
  }

  .notFound {
    text-align: center;
    font-weight: 600;
    padding: 1rem;
    border-top: 1px solid var(--border-gray-01);
  }
}

.icon {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .modal {
    height: 100vh;
    width: 100%;
    margin: 0;
  }
}
