.job {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin-top: 1rem;

  &__title {
    color: var(--color-gray-dark);
    font-size: var(--font-size-m);
    font-weight: 600;
  }

  &__profile {
    margin: 24px 0;
  }

  &__footer {
    background-color: var(--color-off-white-01);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 16px;
    font-size: var(--font-size-s2);
    text-align: center;

    .submissions {
      margin-top: 1rem;
    }
    .nosubmissions {
      margin-top: 1rem;
      color: var(--color-gray-01);
    }
  }

  &__total {
    border-top: 1px solid var(--border-gray-01);
    font-size: var(--font-size-s2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__info {
    color: var(--color-gray-light-1);
    font-size: var(--font-size-s2);
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
