.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
}

.logo {
    margin: 10rem 0 3rem 0;
}

.title {
    text-align: center;

    span {
        color: var(--color-primary-01);
        font-weight: 600;
        font-size: 1.5rem;
    }
}

.content {
    margin: 0.5rem 0 4rem 0;
    text-align: center;

    span {
        size: 1rem;
        color: var(--color-gray-01);
    }
}

.email {
    margin-top: 0.5rem;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
}