.container {
    padding: 0 1rem 1rem 1rem;
    // background-color: var(--color-off-white-01);
}

.header {
    margin-bottom: 1rem;
}

.sendBox {
    margin: 1rem 0;
}

.messages {
    // overflow-y: scroll;
}