.container {
    grid: auto 1fr;
}

.header {
    margin-bottom: 1rem;
}

.sendBox {
    margin: 1rem 0;
}

.main {
    padding: 0 1rem 1rem 1rem;
    overflow-y: scroll;
    // background-color: var(--color-off-white-01);
}