@import 'src/components/_primitives.scss';
.container {
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
}
.label {
  color: $color-grey-700;
}

.icon {
  width: 1rem;
  height: 1rem;
  border: 1px solid $color_grey_300;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconChecked {
  background-color: $color-primary-50;
}
.iconChecked:hover {
  background-color: transparent;
}
.checkIcon {
  font-size: 10px;
}
