@import 'src/components/_primitives.scss';

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 0.75px solid $color-grey-900;
  opacity: 0.08;
  background-color: $color-grey-200;
  margin-top: 24px;
}

.uploadBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid $color-grey-200;
  padding: 24px 16px;
  margin-top: 20px;
}
.uploadText {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $color-grey-600;
}
