@import 'src/components/_primitives.scss';

.textarea {
    font-family: sans-serif, 'Apple Color Emoji';
    border: 0;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    word-break: break-all;
    &::placeholder {
        color: $color-grey-500;
    }
}
