.container {
    // background-color: #ffffff;
}

.header {
    padding: var(--safe-area) 1.43rem 0.62rem 1.43rem;
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid var(--border-gray-01);
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
}

.search {
    width: 100%;
}

.menu {
    height: 3.5rem;
    background-color: #ffffff;
    border-bottom: 1px solid var(--border-gray-01);
    display: flex;
    align-items: center;
    padding: 0 1.43rem;
}

.result {
    height: 3.5rem;
    border-bottom: 1px solid var(--border-gray-01);
    display: flex;
    align-items: center;
    padding: 0 1.43rem;
    justify-content: space-between;
    background-color: var(--color-off-white-01);
}

.mainList {
    padding: 1rem;
}

.info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main {
    margin-top: 11rem;
    overflow-y: scroll;
}