@import 'src/components/_primitives.scss';

.container {
  border: solid 1px $color-grey-300;
  border-radius: 8px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button {
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  cursor: pointer;
  border: none;
}
