.container {
  padding: 1.5rem;
}
.header {
  margin-bottom: 3rem;
}

.form {
  &__item {
    margin-bottom: 2.5rem;
  }
}

.buttons {
  padding: 1rem 1rem 3rem 1rem;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid var(--color-gray-04);
}
