@import 'src/components/_primitives.scss';

.modalContent {
    @apply text-sm text-Gray-light-mode-600 mt-8;

    ul {
        padding: 0 1rem;
        line-height: 20px;

        & > li {
            text-align: justify;
            list-style-type: disc;
        }
    }
}
