.job {
  display: flex;
  flex-direction: column;
  padding: 24px;

  &__title {
    color: var(--color-gray-dark);
    font-size: 16px;
    font-weight: 600;
  }

  &__profile {
    margin: 24px 0;
  }

  &__period {
    font-size: var(--font-size-s2);
  }

  &__footer {
    background-color: var(--color-off-white-01);
    border-radius: 8px;
    padding: 12px 6.5px 4px 6.5px;
    margin-top: 16px;
  }

  &__total {
    border-top: 1px solid var(--border-gray-01);
    font-size: var(--font-size-s);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    margin: 0 0.5rem;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__info {
    color: var(--color-gray-light-1);
    font-size: var(--font-size-s);
    display: flex;
    align-items: center;
    gap: 4px;
    // margin: 0 0.5rem;

    .icon {
      margin-left: 5px;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}
