.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--color-off-white-01);
}

.seeMore {
    text-align: center;
    font-weight: 600;
    font-size: var(--font-size-s2);
    color: var(--color-primary-01);
    cursor: pointer;
  }