.modalContainer {
  display: grid;
  grid-template-rows: 3.5rem 1fr;
}

.modalHeader {
  position: sticky;
  top: 0;
  background: var(--color-off-white-01);
  border-bottom: 1px solid var(--border-gray-01);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: #efefef;
  padding: 1rem;
  cursor: pointer;
  &:hover {
    background: #e6e6e6;
  }
}

.item {
  height: 1.5rem;
  padding: 0 9px;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-family: 'Work Sans';
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
  background-color: var(--color-secondary-02);
}

.label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.slideUpContent,
.modalContent {
  padding: 1rem;
}

.slideUpContainer {
  display: grid;
  grid-template-rows: 3.5rem 1fr;
}

.slideUpHeader {
  position: sticky;
  top: 0;
  background: var(--color-off-white-01);
  border-bottom: 1px solid var(--border-gray-01);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.placeholder {
  font-size: var(--font-size-m);
  color: var(--color-gray-02);
}

.errorItem {
  display: flex;
  align-items: center;
  font-size: var(--font-size-s);
  color: var(--color-error-01);
}
