@import 'src/components/_primitives.scss';

.default {
    text-align: center;
    font-family: Inter;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    &:global(.MuiButton-root) {
        text-transform: none;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
        height: 44px;
        font-weight: 600;
        font-size: 16px;
    }

    &:global(.MuiButton-text) {
        background-color: transparent;
        box-shadow: none;
    }
}

.block {
    display: block;
    width: 100%;
}

.primary {
    &:global(.MuiButton-root) {
        &:disabled {
            background-color: $color-primary-200;
            color: $color-primary-700;
        }
    }

    &:global(.MuiButton-containedPrimary) {
        &:hover {
            background-color: $color-primary-700;
            color: $color-white;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        }

        &:focus {
            background-color: $color-primary-600;
            color: $color-white;
            box-shadow:
                0px 0px 0px 4px rgba(230, 237, 237, 1),
                0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        }
    }

    &:global(.MuiButton-outlinedPrimary) {
        background-color: $color-white;
        border: solid 1px $color-grey-300;
        box-shadow: 0px 1px 2px 0px #1018280d;
        color: $color-grey-700;

        &:hover {
            background-color: $color-grey-50;
            color: $color-grey-800;
        }

        &:focus {
            box-shadow:
                0px 0px 0px 4px rgba(242, 244, 247, 1),
                0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        }

        &:disabled {
            background-color: $color-white;
            border: solid 1px $color-grey-200;
            color: $color-grey-300;
        }
    }
}

.secondary {
    &:global(.MuiButton-root) {
        &:disabled {
            background-color: $color-grey-300;
            color: $color-white;
            cursor: not-allowed;
        }
    }
}

.error {
    &:global(.MuiButton-root) {
        &:disabled {
            background-color: $color-error-200;
            color: $color-white;
            cursor: not-allowed;
        }
    }
}

.info {
    &:global(.MuiButton-root) {
        text-transform: none;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
        height: 44px;
        font-weight: 600;
        font-size: 16px;
        background-color: $color-white;
        color: $color-grey-600;
        border: 1px solid $color-grey-300;

        &:disabled {
            background-color: $color-grey-700;
            color: $color-white;
            cursor: not-allowed;
        }
    }

    &:global(.MuiButton-text) {
        background-color: transparent;
        box-shadow: none;
    }
}

.button {
    background-color: black;
}
