$color-gray-light-0: #e4e6ed;

.payment {
  display: flex;
  flex-direction: column;
  padding: 24px;

  &__title {
    font-weight: 600;
  }

  &__detail {
    padding: 16px 0;
    border-bottom: 1px solid $color-gray-light-0;
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 16px;
  }
}
