@import 'src/components/_primitives.scss';

.container {
  padding: 32px;
  padding-bottom: 48px;
  @media (max-width: 640px) {
    padding: 32px 16px 64px 16px;
  }
  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 720px;
    @media (max-width: 640px) {
      flex-direction: column;
      width: 100%;
    }
    .filterButton {
      text-transform: none;
      border-radius: 8px;
      gap: 0.5rem;
      @media (max-width: 640px) {
        width: 100%;
      }
    }
  }
  .header {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 640px) {
      flex-direction: column;
      gap: 4px;
    }
    .title {
      font-size: 30px;
      font-weight: 600;
      line-height: 38px;
      color: $color-grey-900;
    }
    .subtitle {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: $color-grey-600;
    }
  }
  .headerOverwrite {
    border-bottom: 0 !important;
  }
  .list {
    margin-top: 24px;
    width: 720px;
    @media (max-width: 640px) {
      width: 100%;
    }
  }
}
