@import 'src/styles/constants/_primitives.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    max-width: 35rem;
    padding: 1.5rem;
    gap: 1.5rem;

    @media (max-width: $width-xl) {
        width: 100%;
        max-width: 100%;
        padding: 1.25rem 1rem;
        gap: 1.25rem;
    }

    .title {
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        color: $color-grey-900;
        text-align: center;
    }

    .subtitle {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $color-grey-600;
        text-align: center;
    }

    .txt {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $color-grey-600;
    }

    .boldTxt {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: $color-grey-700;
    }
}
