.container {
  width: fit-content;
  display: flex;
  gap: 0.75rem;
}

.step {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--color-off-white-01);
  border: 1px solid var(--color-gray-03);
  cursor: pointer;
}

.active {
  background-color: var(--color-primary-01);
  border: 1px solid var(--color-primary-01);
}
