@import 'src/components/_primitives.scss';
@import 'src/styles/icons.scss';

.icon-container {
  font-family: fontastic !important;
  line-height: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}
