@import 'src/components/_primitives.scss';

.container {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  justify-content: flex-start;
  height: fit-content;
  border-radius: 12px;
  padding: 1rem;
  cursor: pointer;
}

.normalContainer {
  border: solid 1px $color-grey-200;
}
.normalContainer:hover {
  border: solid 1px $color-primary-200;
}
.selectedContainer {
  border: solid 2px $color-primary-600;
  background-color: $color-primary-50;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.iconDiv {
  width: 2rem;
  height: 2rem;
  border-radius: 200px;
  background-color: $color-grey-100;
  border: 1px solid rgba($color-grey-900, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.rbIcon {
  width: 1rem;
  height: 1rem;
  border: solid 1px;
  border-color: $color-primary-200;
  border-radius: 0.5rem;
  transition:
    border-color 0.2s,
    background-color 0.2s;
}

.rbIcon:hover {
  border-color: $color-primary-600;
  background-color: $color-primary-50;
}

.rbSelectedIcon {
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: $color-primary-600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rbContainer {
  width: 1rem;
}

.title {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: $color-grey-700;
}
.selectedTitle {
  color: $color-primary-800;
}
.desc {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: $color-grey-600;
}
.selectedDesc {
  color: $color-primary-700;
}
//styleName: Text sm/Medium;
