@import 'src/components/_primitives.scss';

.mobileBtn {
  cursor: pointer;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.mobilePageLabel {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $color-grey-700;
  .bold {
    font-weight: 500;
  }
}
