@import 'src/components/_primitives.scss';

.section1 {
  display: flex;
  gap: 1rem;
  border: 1px solid $color-primary-300;
  border-radius: $radius-xl;
  background-color: $color-primary-25;
  padding: 1rem;
  align-items: center;
}

.section2 {
  display: flex;
  gap: 1rem;
  border: 1px solid $color-grey-300;
  border-radius: $radius-xl;
  background-color: $color-grey-25;
  padding: 1rem;
  align-items: center;
}
