.container {
  padding: 1rem;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-s2);
  line-height: 150%;
  border: 1px solid #e4e6ed;
  border-radius: 0px 12px 12px 12px;
}
