.container {
  height: var(--window-height);
  margin-top: var(--safe-area);
  display: grid;
  grid-template-rows: 10.5rem 1fr 8rem;
}

.header {
  border-bottom: 1px solid var(--color-gray-03);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;

  .title {
    font-family: 'Hahmlet';
    font-weight: 600;
    font-size: var(--font-size-l);
    text-align: center;
    color: var(--color-black-01);
    margin-bottom: 0.25rem;
  }

  .statement {
    font-size: var(--font-size-s2);
    text-align: center;
    color: var(--color-gray-01);
    line-height: 1.25rem;
  }
}

.main {
  padding: 1rem;
  overflow-y: scroll;
  background-color: var(--color-off-white-01);
  border-bottom: 1px solid var(--color-gray-03);

  .title {
    margin-bottom: 1.75rem;
    font-weight: 600;
    color: var(--color-primary-01);
  }
}

.bottom {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 0 1rem;
}

.verificationProcess {
  .processItem {
    display: grid;
    grid-template-columns: 3.75rem 1fr;

    .processLeft {
      display: flex;
      flex-direction: column;
      align-items: center;

      .processIcon {
        width: 2.75rem;
        height: 2.75rem;
        min-height: 2.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid var(--color-primary-01);

        img {
          height: 24px;
        }
      }

      .processLine {
        width: 2px;
        height: 100%;
        background-color: var(--color-primary-01);
      }
    }

    .processRight {
      padding-bottom: 1.5rem;

      .rightTitle {
        font-family: 'Work Sans';
        font-weight: 600;
        padding-bottom: 0.25rem;
      }

      .rightContent {
        font-family: 'Work Sans';
        font-size: var(--font-size-s2);
        line-height: 1.25rem;
        color: var(--color-gray-01);
      }
    }
  }
}
