@import 'src/components/_primitives.scss';

.container {
  box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
  border-radius: 12px;
  border: 1px solid $color-grey-200;

  .intro {
    display: flex;
    padding: 24px;

    @media (max-width: 640px) {
      flex-direction: column;
      padding: 20px;
    }
    .jobTitle {
      font-size: 18px;
      font-weight: 600;
      color: $color-grey-900;
    }
    .subTitle {
      font-size: 14px;
      font-weight: 400;
      color: $color-grey-500;
    }
    .orgTitle {
      font-size: 14px;
      font-weight: 400;
      color: $color-grey-600;
    }
    .titleTime {
      @media (min-width: 640px) {
        margin-left: 16px;
      }
    }
  }
  .chips {
    display: flex;
    margin-left: 24px;
    margin-bottom: 24px;
    overflow-x: auto;
    @media (max-width: 640px) {
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }
  .cardInfo {
    border-bottom: solid 1px $color-grey-200;
  }
  .readMore {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: $color-primary-700;
  }
  .jobDescription {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $color-grey-600;
    margin-left: 24px;
    margin-bottom: 24px;
    @media (max-width: 640px) {
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }
  .jobFeatures {
    margin: 24px;
    @media (max-width: 640px) {
      margin: 20px;
    }
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    gap: 12px 16px;
    align-self: stretch;
    flex-wrap: wrap;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 24px;
    padding-top: 20px;
    @media (max-width: 640px) {
      display: none;
    }
  }
}
