@import 'src/components/_primitives.scss';

.jobCard {
    align-items: flex-start;
    background: $color-white;
    border: 1px solid $color-grey-200;
    border-radius: 12px;
    box-shadow: $shadow-xs;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .cardHeader {
        align-items: flex-start;
        align-self: stretch;
        display: flex;
        padding: 1.5rem 1.5rem 0 1.5rem;
        gap: 0.25rem;

        @media (max-width: 640px) {
            padding: 1.25rem 1.25rem 0 1.25rem;
        }

        .orgInfo {
            display: flex;
            align-items: flex-start;
            gap: 1rem;
            flex: 1 0 0;

            @media (max-width: 640px) {
                flex-direction: column;
            }
        }

        .orgHeading {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 0 0;
        }

        .jobTitle {
            font-size: $font-size-lg;
            font-weight: 600;
            line-height: 1.75rem;
            color: $color-grey-900;
            cursor: pointer;
            display: block;
        }

        .orgTitle {
            font-size: 14px;
            font-weight: 400;
            color: $color-grey-600;
        }
    }

    .cardInfo {
        display: flex;
        padding: 0rem 1.5rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
        align-self: stretch;

        @media (max-width: 640px) {
            padding: 0rem 1.25rem 1.5rem;
        }

        .chips {
            display: flex;
            align-items: flex-start;
            align-content: flex-start;
            gap: 0.5rem;
            align-self: stretch;
            flex-wrap: wrap;
        }

        .jobDescription * {
            line-height: 1.5rem;
            color: $color-grey-600;
        }

        .jobFeatures {
            display: flex;
            align-items: flex-start;
            align-content: flex-start;
            gap: 0.75rem 1rem;
            align-self: stretch;
            flex-wrap: wrap;

            .features {
                color: $color-grey-700;
                font-weight: 500;
                line-height: 1.5rem;
                display: flex;
                align-items: center;
                gap: 0.375rem;

                .featureSubtitle {
                    margin-left: 6px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
        }
    }

    .cardFooter {
        align-items: flex-start;
        align-self: stretch;
        display: flex;
        border-top: 1px solid $color-grey-200;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 24px 24px 24px;

        @media (max-width: 640px) {
            display: none;
        }

        .readMore {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: $color-primary-700;
            margin-left: auto;
            margin-right: 0;
        }
    }

    .cardFooterMobile {
        align-items: center;
        justify-content: center;
        align-self: stretch;
        display: flex;
        border-top: 1px solid $color-grey-200;
        padding: 20px 24px;

        @media (min-width: 640px) {
            display: none;
        }
    }
}

.notInterestedBtn {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $color-grey-600;
    text-decoration: underline;
    cursor: pointer;
}
