.header {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: var(--font-size-l);
}

.tokenContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-bottom: 2rem;
}

.tokenLabels {
  color: var(--color-primary-01);
  margin-bottom: 0.5rem;
}

.tierMinMax {
  color: var(--color-gray-01);
}
