@import url('https://fonts.googleapis.com/css2?family=Hahmlet&family=Work+Sans');
@import url(https://fonts.googleapis.com/css?family=Hahmlet:700|Work+Sans:bold);
@import './components/primitives';
@import './components/reset';

.hydrated {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
}
