.container {
  display: grid;
  grid-template-rows: 1rem 2.5rem;
  gap: 4px;
}

.textbox {
  border-bottom: 2px solid #e4e6ed;
  font-size: var(--font-size-m);

  &::placeholder {
    color: var(--color-gray-02);
  }
}