.container {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  .load {
    display: flex;
    justify-content: center;
    color: var(--color-primary-01);
    font-weight: 600;
    cursor: pointer;
  }
}
