.filters {
  width: 376px;
  @media screen and (max-width: 600px) {
    width: 100%;
    padding: 1rem;
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid var(--border-gray-01);
  }
  &__title {
    font-weight: bold;
  }
  &__clear {
    color: var(--color-primary-blue);
    cursor: pointer;
  }
}
