@import 'src/styles/constants/_primitives.scss';

.btn button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 8px !important;
    background-color: #ffffff !important; /* Replace $color-white */
    border: 1px solid #d1d5db !important; /* Replace $color-grey-300 */
    padding: 10px 18px !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    color: #4b5563 !important; /* Replace $color-grey-700 */
}
