@import 'src/components/_primitives.scss';
.label {
  margin-bottom: 6px;
  color: $color-grey-700;
}

.icon {
  color: $color-error-600;
}

.msg {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 6px;
}
.successMsg {
  color: $color-success-600;
}
.errorMsg {
  color: $color-error-500;
}

.default {
  input {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-grey-900;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    &::placeholder {
      color: $color-grey-500;
      opacity: 1;
    }
  }
  fieldset {
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px #1018280d;
  }
  textarea {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-grey-900;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: 100% !important;
    &::placeholder {
      color: $color-grey-500;
      opacity: 1;
    }
  }
}

.defaultColor {
  fieldset {
    border: 1px solid $color-grey-300 !important;
  }
}

.defaultColor:focus-within {
  fieldset {
    box-shadow: 0px 0px 0px 4px $color-primary-100;
  }
}

.errorColor {
  fieldset {
    border: 1px solid $color-error-300 !important;
  }
}

.errorColor:focus-within {
  fieldset {
    box-shadow: 0px 0px 0px 4px $color-error-100;
  }
}

.prefix {
  min-height: 44px;
  border-right: solid 1px $color-grey-300;
  padding-right: 14px;
}
