.input {
  margin-bottom: 1rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-03);
}

.card {
  display: grid;
  grid-template-rows: 50px 11rem 1fr 6.75rem;
  height: 85vh;
  max-height: 900px;
  width: 35rem;
  overflow: scroll;
}

.header {
  border-bottom: 1px solid var(--color-gray-03);
  display: grid;
  grid-template-columns: 44px 1fr 44px;
  align-items: center;

  .chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }

  .stepsContainer {
    display: flex;
    justify-content: center;
  }
}

.questionContainer {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5rem;
  color: var(--color-black-01);

  .question {
    font-size: 1.25rem;
    font-family: 'Hahmlet';
    font-weight: 600;
  }

  .limitStatement {
    color: var(--color-gray-01);
  }
  border-bottom: 1px solid var(--color-gray-03);
}

.main {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid var(--border-gray-01);
  overflow: scroll;
}

.phoneNumber {
  display: grid;
  grid-template-columns: 5rem 1fr;
  gap: 1rem;
}

.phoneNumberLabel {
  font-weight: 700;
  padding-bottom: 0.5rem;
  .labelOptional {
    color: var(--color-gray-02);
    font-weight: 400;
    font-size: var(--font-size-s);
  }
}

.formContainer {
  display: grid;
  gap: 1rem;
}

.agreement {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
