.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-03);
}

.card {
  display: grid;
  grid-template-rows: 50px 4.875rem 1fr 6.75rem;
  height: 85vh;
  max-height: 900px;
  width: 35rem;
  overflow: scroll;
}

.question {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  font-size: 1.25rem;
  font-family: 'Inter';
  font-weight: 600;
  color: var(--color-black-01);
  border-bottom: 1px solid var(--color-gray-03);
}

.header {
  border-bottom: 1px solid var(--color-gray-03);
  display: grid;
  grid-template-columns: 44px 1fr 44px;
  align-items: center;

  .chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }

  .stepsContainer {
    display: flex;
    justify-content: center;
  }
}

.main {
  padding: 1rem;
  overflow: scroll;
  background-color: var(--color-off-white-01);
  border-bottom: 1px solid var(--color-gray-03);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
