.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  height: 1rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-family: 'Work Sans';
  border-left: 1px solid var(--color-gray-04);
  padding: 0 8px;
  color: var(--color-gray-01);
}

.item:first-child {
  border-left: 0;
  padding-left: 0;
}
