.leftContainer {
  position: sticky;
  top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .banner {
    height: 8.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2.5rem;
    border-radius: 30px;
    background-image: url('/images/people-page-header.jpg');
    background-size: cover;
    background-position: 30%;
    background-color: var(--color-gray-04);
    position: relative;
    overflow: hidden;

    &__overlay {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(0deg, transparent, rgba(black, 0.35));
    }
  }

  .title {
    font-size: var(--font-size-xl);
    color: #ffffff;
    font-weight: 600;
    font-family: 'Hahmlet';
  }

  .tagline {
    color: #d4d2d0;
    font-size: var(--font-size-m);
  }

  .network {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
    }

    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 52px;
      height: 52px;
      padding: 1rem;
      border: 1px solid var(--border-gray-01);
      border-radius: 50%;
    }
  }

  .recommand {
    &__noItem {
      color: var(--color-gray-03);
      font-size: 20px;
      font-weight: 600;
    }
  }
}
