.container {
  height: 6rem;
  display: flex;
  align-items: flex-end;
}

.imgContainer {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  transform: rotate(180deg);
}
