@import 'src/components/_primitives.scss';

.container {
  width: 480px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
.header {
  margin-bottom: 44px;
  margin-top: 20px;
  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: $color-grey-900;
  }
}
.description {
  color: $color-grey-600;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 44px;
}
