name: CD - Release - iOS

on:
  push:
    # tags:
    #   - v*
    branches:
      - ci
  # release:
  #   types: [prereleased, released]

# echo ${{ github.event.release.tag_name }} -> tagname
# echo ${{ github.event.release.prerelease }} -> true,false (${{ github.event.release.prerelease == true }})
# echo '${{ github.event.release.name }}' -> title
# echo '${{ github.event.release.body }}' -> body

env:
  CI: false
  #Github ENVs
  IOS_BUNDLE_ID: ${{ vars.IOS_BUNDLE_ID }}
  IOS_DEVELOPMENT_TEAM_ID: ${{ vars.IOS_DEVELOPMENT_TEAM_ID }}
  IOS_DISTRIBUTION_CERT_BASE64: ${{ secrets.IOS_DISTRIBUTION_CERT_BASE64 }}
  IOS_DISTRIBUTION_CERT_PASSWORD: ${{ secrets.IOS_DISTRIBUTION_CERT_PASSWORD }}
  IOS_PROVISIONING_PROFILE_BASE64: ${{ secrets.IOS_PROVISIONING_PROFILE_BASE64 }}
  IOS_APPSTORECONNECT_AUTH_KEY_BASE64: ${{ secrets.IOS_APPSTORECONNECT_AUTH_KEY_BASE64 }}
  IOS_APPSTORECONNECT_API_ISSUER: ${{ vars.IOS_APPSTORECONNECT_API_ISSUER }}
  IOS_APPSTORECONNECT_API_KEY: ${{ secrets.IOS_APPSTORECONNECT_API_KEY }}
  IOS_APP_APPLE_ID: ${{ vars.IOS_APP_APPLE_ID }}
  #Workflow ENVs
  APPSTORECONNECT_AUTH_KEY_PATH: /Users/runner/private_keys
  MOBILE_PROVISIONING_PATH: ~/Library/MobileDevice/Provisioning\ Profiles
  SIGNING_CERTIFICATE_PATH: ${{ github.workspace }}/ios/App/signing-certificate.p12
  BUILDING_PATH: ${{ github.workspace }}/ios/App/build/Socious.ipa
  KEYCHAIN_PATH: ${{ github.workspace }}/ios/keychain/app-signing.keychain-db
  KEYCHAIN_PASSWORD: keychain_password

jobs:
  build-ios:
    name: Building iOS
    outputs:
      LATEST_APPSTORE_BUILD_NUMBER: ${{ steps.build-number.outputs.LATEST_APPSTORE_BUILD_NUMBER }}
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Setup Cocoapods
        uses: maxim-lobanov/setup-cocoapods@v1
        with:
          version: latest

      # - name: Cache node modules
      #   id: cache-npm
      #   uses: actions/cache@v4
      #   env:
      #     cache-name: cache-node-modules
      #   with:
      #     # npm cache files are stored in `~/.npm` on Linux/macOS
      #     path: ~/.npm
      #     save-always: 'true'
      #     key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      #     restore-keys: |
      #       ${{ runner.os }}-build-${{ env.cache-name }}-
      #       ${{ runner.os }}-build-

      - name: Install Node.js dependencies
        run: |
          npm cache clean --force
          npm ci

      - name: Making iOS Release Code
        run: |
          npm run build
          npm run make:ios
        env:
          STORYBOOK_FIGMA_ACCESS_TOKEN: ${{ secrets.STORYBOOK_FIGMA_ACCESS_TOKEN }}
          VITE_ACCESS_EXPIRE: ${{ vars.ACCESS_EXPIRE }}
          VITE_APP_URL: ${{ vars.APP_URL }}
          VITE_BASE_URL: ${{ vars.BASE_URL }}
          VITE_CLIENT_SECRET_TOKEN_CLIENT_ID: ${{ secrets.CLIENT_SECRET_TOKEN_CLIENT_ID }}
          VITE_CLIENT_SECRET_TOKEN_REDIRECT_URL: ${{ vars.CLIENT_SECRET_TOKEN_REDIRECT_URL }}
          VITE_DAPP_ENV: ${{ vars.DAPP_ENV }}
          VITE_ENV: ${{ vars.ENV }}
          VITE_GOOGLE_OAUTH_CLIENT_ID: ${{ secrets.GOOGLE_OAUTH_CLIENT_ID }}
          VITE_GOOGLE_RECAPTCHA_SITE_KEY: ${{ secrets.GOOGLE_RECAPTCHA_SITE_KEY }}
          VITE_JP_STRIPE_PUBLIC_KEY: ${{ secrets.JP_STRIPE_PUBLIC_KEY }}
          VITE_LOG_DISCORD_WEBHOOK: ${{ secrets.LOG_DISCORD_WEBHOOK }}
          VITE_REFRESH_EXPIRE: ${{ vars.REFRESH_EXPIRE }}
          VITE_SOCKET_URL: ${{ vars.SOCKET_URL }}
          VITE_STRIPE_PUBLIC_KEY: ${{ vars.STRIPE_PUBLIC_KEY }}

      - name: Extracting App Version
        run: |
          echo "APP_VERSION=$(echo '${{ github.event.release.tag_name }}' | cut -c2-)" >> $GITHUB_ENV

      - name: Extracting provisioning profile (Distribution)
        run: |
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          echo ${{ env.IOS_PROVISIONING_PROFILE_BASE64 }} | base64 --decode > ${{env.MOBILE_PROVISIONING_PATH}}/socious-provisioing-profile-distribution-appstore.mobileprovision

      - name: Extracting auth key file (Apple API)
        env:
          KEY_PATH: ${{ env.APPSTORECONNECT_AUTH_KEY_PATH }}
          API_KEY: ${{ env.IOS_APPSTORECONNECT_API_KEY }}
        run: |
          KEY_FILE_PATH=$KEY_PATH/AuthKey_$API_KEY.p8
          mkdir -p $KEY_PATH
          echo ${{ env.IOS_APPSTORECONNECT_AUTH_KEY_BASE64 }} | base64 --decode > $KEY_FILE_PATH

      - name: Extracting signing certificate
        run: |
          echo ${{ env.IOS_DISTRIBUTION_CERT_BASE64 }} | base64 --decode > $SIGNING_CERTIFICATE_PATH

      - name: Extracting and Installing signing certificate (.p12)
        env:
          SIGNING_CERTIFICATE_PATH: ${{ env.SIGNING_CERTIFICATE_PATH }}
          KEYCHAIN_PATH: ${{ env.KEYCHAIN_PATH }}
          KEYCHAIN_PASSWORD: ${{ env.KEYCHAIN_PASSWORD }}
          P12_PASSWORD: ${{ env.IOS_DISTRIBUTION_CERT_PASSWORD }}
        run: |
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security import $SIGNING_CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security set-key-partition-list -S apple-tool:,apple: -k "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

      - name: Adding Provisioning Profile UUID to Github Env
        run: |
          echo "MOBILE_PROVISIONING_UUID=$(security cms -D -i ${{env.MOBILE_PROVISIONING_PATH}}/socious-provisioing-profile-distribution-appstore.mobileprovision | grep UUID -A1 -m1 | grep string | sed -e 's/<string>//' -e 's/<\/string>//' | xargs)" > $GITHUB_ENV

      - name: Fetching the Appstore Connect latest build number and increment
        id: build-number
        env:
          APP_STORE_CONNECT_ISSUER_ID: ${{ env.IOS_APPSTORECONNECT_API_ISSUER }}
          APP_STORE_CONNECT_KEY_IDENTIFIER: ${{ env.IOS_APPSTORECONNECT_API_KEY }}
          APP_STORE_CONNECT_PRIVATE_KEY: '@file:${{ env.APPSTORECONNECT_AUTH_KEY_PATH }}/AuthKey_${{ env.IOS_APPSTORECONNECT_API_KEY }}.p8'
          BUNDLE_ID: ${{ env.IOS_BUNDLE_ID }}
          APPLICATION_ID_RESOURCE_ID: ${{ env.IOS_APP_APPLE_ID }}
        run: |
          python -m pip install codemagic-cli-tools

          LATEST_APPSTORE_BUILD_NUMBER=$(app-store-connect get-latest-build-number "$APPLICATION_ID_RESOURCE_ID" | awk '{print $1 + 1}')

          echo "LATEST_APPSTORE_BUILD_NUMBER=$LATEST_APPSTORE_BUILD_NUMBER" >> $GITHUB_OUTPUT
          echo "LATEST_APPSTORE_BUILD_NUMBER=$LATEST_APPSTORE_BUILD_NUMBER" >> $GITHUB_ENV

          app-store-connect get-latest-app-store-build-number "$APPLICATION_ID_RESOURCE_ID"
          app-store-connect get-latest-testflight-build-number "$APPLICATION_ID_RESOURCE_ID"

      - name: Creating Export.plist
        run: |
          cd ios/App
          cp ../../.github/workflows/ios-export.plist Export.plist
          sed -ie 's/IOS_DEVELOPMENT_TEAM_ID/${{ env.IOS_DEVELOPMENT_TEAM_ID }}/g' Export.plist
          sed -ie 's/IOS_BUNDLE_ID/${{ env.IOS_BUNDLE_ID }}/g' Export.plist
          sed -ie 's/MOBILE_PROVISIONING_UUID/${{ env.MOBILE_PROVISIONING_UUID }}/g' Export.plist

      - name: Configuring apps (using Trapeze)
        env:
          IOS_BUILD_NUMBER: ${{ env.LATEST_APPSTORE_BUILD_NUMBER }}
          IOS_BUNDLE_ID: ${{ env.IOS_BUNDLE_ID }}
          IOS_DEVELOPMENT_TEAM_ID: ${{ env.IOS_DEVELOPMENT_TEAM_ID }}
          VERSION: ${{ env.APP_VERSION }}
        run: |
          npm run config:ios

      - name: Generating Assets
        run: |
          npm run generate:assets

      # On Pre-Relase

      # On Relase
      - name: Build and archiving the app
        run: |
          cd ios/App
          xcodebuild -scheme App -archivePath ./Actions.xcarchive -configuration Release archive -workspace ./App.xcworkspace PROVISIONING_PROFILE="${{env.MOBILE_PROVISIONING_UUID}}"

      - name: Exporting archive for releasing to Appstore (.IPA)
        run: |
          cd ios/App
          xcodebuild -exportArchive -archivePath ./Actions.xcarchive -exportPath ./build -exportOptionsPlist ./Export.plist PROVISIONING_PROFILE="${{env.MOBILE_PROVISIONING_UUID}}"

      - name: Verifying build for releasing to Appstore (.IPA)
        env:
          API_ISSUER: ${{ env.IOS_APPSTORECONNECT_API_ISSUER }}
          API_KEY: ${{ env.IOS_APPSTORECONNECT_API_KEY }}
        run: |
          cd ios/App
          xcrun altool --validate-app -f "./build/Socious.ipa" -t ios --apiKey $API_KEY --apiIssuer $API_ISSUER

      - name: Upload bundle (.IPA) to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: '${{ env.BUILDING_PATH }}'
          asset_name: Socious-${{ github.event.release.tag_name }}.ipa
          tag: ${{ github.ref }}
          overwrite: true
          body: ${{ github.event.release.body }}

      - name: Clean up keychain and provisioning profile
        run: |
          security delete-keychain ${{ env.KEYCHAIN_PATH }}
          rm -rf ${{ env.MOBILE_PROVISIONING_PATH }}

  deploy-appstore:
    name: Deploy to Apple Appstore
    runs-on: macos-latest
    if: github.event.release.prerelease != true
    needs: [build-ios]
    env:
      LATEST_APPSTORE_BUILD_NUMBER: ${{ needs.build-ios.outputs.LATEST_APPSTORE_BUILD_NUMBER }}
    steps:
      - uses: robinraju/release-downloader@v1.11
        with:
          latest: true
          fileName: Socious-${{ github.event.release.tag_name }}.ipa

      - name: Extracting auth key file (Apple API)
        env:
          KEY_PATH: ${{ env.APPSTORECONNECT_AUTH_KEY_PATH }}
          API_KEY: ${{ env.IOS_APPSTORECONNECT_API_KEY }}
        run: |
          KEY_FILE_PATH=$KEY_PATH/AuthKey_$API_KEY.p8
          mkdir -p $KEY_PATH
          echo ${{ env.IOS_APPSTORECONNECT_AUTH_KEY_BASE64 }} | base64 --decode > $KEY_FILE_PATH

      - name: Releasing the build to Appstore (.IPA)
        env:
          API_ISSUER: ${{ env.IOS_APPSTORECONNECT_API_ISSUER }}
          API_KEY: ${{ env.IOS_APPSTORECONNECT_API_KEY }}
        run: |
          xcrun altool --upload-app -f ./Socious-${{ github.event.release.tag_name }}.ipa -t ios --apiKey $API_KEY --apiIssuer $API_ISSUER
