@import 'src/components/_primitives.scss';

.container {
  width: 100%;
  padding: 32px 0px 48px 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media (max-width: 640px) {
    padding-bottom: 64px;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 32px;
  padding: 0px 0px 0px 32px;
  @media (max-width: 640px) {
    padding: 0px 16px;
    gap: 24px;
  }
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 32px;
  @media (max-width: 640px) {
    padding: 0px 16px;
    gap: 24px;
  }
}

.expandable span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: $color-grey-600;
}

.section1 {
  width: 100%;
  display: flex;
  gap: 1rem;
  border: 1px solid $color-primary-300;
  border-radius: $radius-xl;
  background-color: $color-primary-25;
  padding: 1rem;
  align-items: center;
}

.section2 {
  width: 100%;
  display: flex;
  gap: 1rem;
  border: 1px solid $color-grey-300;
  border-radius: $radius-xl;
  background-color: $color-grey-25;
  padding: 1rem;
  align-items: center;
}
