.job {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.title {
  color: var(--color-primary-01);
  font-size: 16px;
  font-weight: 600;
}

.description {
  display: flex;
  margin: 8px 0;
}
.descriptionIcon {
  margin-right: 4px;
}

.footer {
  color: var(--color-gray-01);
}
