.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  height: 3rem;
  display: flex;
  align-items: center;
}

.orgNameAndLocation {
  font-size: 0.875rem;
  color: var(--color-black-01);
}

.orgLocation {
  color: var(--color-gray-01);
  padding-top: 2px;
}

.bio {
  font-size: var(--font-size-m);
  color: #1f2128;
  margin: 1rem 0 1rem 0;
}

.description {
  margin-bottom: 1rem;
}

.footer {
  font-size: var(--font-size-s2);
  color: var(--color-gray-01);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.seeMore {
  text-align: center;
  font-weight: 600;
  font-size: var(--font-size-s2);
  color: var(--color-primary-01);
  cursor: pointer;
  padding-bottom: 2rem;
}

.volunteer {
  font-size: 14px;
  color: var(--color-primary-blue);
  display: flex;
  img {
    height: 14px;
    margin-right: 4px;
  }
}
