.sidebar {
  display: grid;
  gap: 1rem;
  position: sticky;
  top: 2.5rem;
}

.banner {
  height: 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.5rem;
  border-radius: 30px;
  background-image: url('/images/jobs-page-header.png');
  background-size: cover;
  background-position: 30%;
  background-color: var(--color-gray-04);
}

.title {
  font-size: var(--font-size-xl);
  color: #ffffff;
  font-weight: 600;
  font-family: 'Hahmlet';
}

.tagline {
  color: #d4d2d0;
  font-size: var(--font-size-m);
}

.list {
  padding: 0 1rem;
  margin-top: 1rem;
}

.followers,
.connections {
  color: var(--color-gray-02);
}
